[2018-11-29 09:16] ggsonic opened #9 "resnet50 demo output zero"
resnet50 demo output zero, all cls result is zero

[2018-11-29 09:54] fs-eire commented on #9
Thanks for the feedback. Could you please share your OS / browser version?

[2018-11-29 10:58] ggsonic commented on #9
ubuntu16.04 x86_64, chrome70.0   firefox63.0

[2018-11-29 11:40] horvathj opened #10 "compact model exported as onnx - trained on customvision.ai doesnt work"
Hi,

I trained a model on customvision.ai with compact settings. I think it is a squeezenet model.
I exported the model in onnx formet (1.0 and 1.2 too) and tried it with the https://github.com/Microsoft/onnxjs/tree/master/examples/browser/squeezenet example.

It is not working, it  is not able to load the model.

await session.loadModel("./my.onnx");

Error in Windows 10 / Chrome 70.0.3538.110:

[2018-11-29 18:19] lefromage commented on #9
I have same issue on macbook pro, on all browsers (Chrome, Safari, Firefox, Opera)
while at the same time keras.js demo works

[2018-11-29 18:30] ybrnathan commented on #10
Hi horvathj,

Thank you for reporting the issue. Is it possible to share your model so we could take a closer look?

[2018-11-29 18:39] fs-eire commented on #9
currently `webgl` backend is working on Windows only.

we are working on extending support on more platform/browsers/backend combinations.

[2018-11-29 23:10] horvathj commented on #10
Hi,

you can download it form here: http://deep-learning.hu/onnx/tree-10-ml.onnx
Test image: http://deep-learning.hu/onnx/tree-fenyo.jpg label:fenyo

thanks,
Janos

[2018-11-30 05:08] ybrnathan commented on #10
Hi Janos,

Thanks for providing the ONNX model. The reason this model is failed to load is because it uses ONNX ML operators (like ZipMap) which is not supported by ONNX.js yet. Here is a list of operators we are supporting so far (https://github.com/Microsoft/onnxjs/blob/master/docs/operators.md).

We will gradually add more operators along the way. Please stay tuned.

Thanks,
Nathan

[2018-11-30 08:33] horvathj commented on #10
Hi Nathan,

Thank you for your answer.

1) Can you modify the graph loader so it would be able to load part of the graph? The user would be able to add 2 additional optional parameters: starting and end nodes names.

This way users can leave out the end of the graph and use the softmax output.

2) Its strange Flatten is not supported, it is quite common. Reshape is supported so it wouldnt be to ha

[2018-11-30 21:55] EmmaNingMS commented on #9
@ggsonic @lefromage  the demo supports chrome/firefox/opera on linux/Mac now, and perf optimization is going on.  Feel free to have a try. Also working on Safari. will update it to you later once it is ready.

[2018-12-01 14:12] scnerd commented on #9
Can confirm that this worked for me this morning, Ubuntu 18.04 in Chrome, in both OpenGL and CPU modes. Wonderful project!

[2018-12-03 01:17] huangyakun opened #16 "Uncaught (in promise) Error: multiple nodes output to one data value"
When I load a pytorch export onnx model, something wrong happend like this, what's wrong with my operations? I have checked the exported onnx model with onnx.checker. Thanks!
graph.ts:298 Uncaught (in promise) Error: multiple nodes output to one data value: 19
    at t.buildGraph (graph.ts:298)
    at new t (graph.ts:139)
    at Object.from (graph.ts:77)
    at t.load (model.ts:29)
    at session.

[2018-12-03 02:03] huningxin opened #17 "[linux] npm ci fails on ubuntu 16.04.5, node.js v10.13.0"
`npm ci` fails against commit 6aa8898b619a3ab888151d96f7489db03ae97a9c

Dev environment is ubuntu 16.04.5, node.js v10.13.0

The error messages are:
[code]

[2018-12-03 02:09] fs-eire commented on #17
this looks like that you have a global `tsc` available, and it may have a different version than onnxjs required. could you please run the following command in repo root and paste the result:
[code]

[2018-12-03 02:11] fs-eire commented on #16
thanks for the feedback. could you please share the model so that I can take a look?

[2018-12-03 02:14] huningxin commented on #17
It seems I don't have global `tsc` installed. The output of the commands:
[code]

[2018-12-03 02:34] huangyakun commented on #16
Hi,
     Thanks for the feedback.
      You can download the onnx from
      https://drive.google.com/open?id=1kXdkxmyhUpnL_-T5K8-Wb5CyQjTnZc1V
     And another onnx model has the same problem which can be downloaded from
      https://drive.google.com/open?id=1N6eDfXDE-9QmFOOemC9FkjqC_D1NUWk8
Thanks!
Huang

[2018-12-03 02:41] gnsmrky opened #18 "Missing 'InstanceNormalization' operator"
Lately Instance Normalization (IN) has become popular.  Just curious if IN is being planned to be added?  Would love to see that for wasm backend.

ONNX.js operator list:
https://github.com/Microsoft/onnxjs/blob/master/docs/operators.m

BTW, ONNX runtime does have IN supported:
https://github.com/onnx/onnx/blob/master/docs/Operators.md#InstanceNormalization

[2018-12-03 04:35] pinzhenx commented on #17
It seems to be caused by importing [a wrong file](https://github.com/Microsoft/onnxjs/blob/master/test/test-types.ts#L6)
[code]

[2018-12-03 05:23] arunetm opened #19 "Using WASM SIMD, multithreading"
Great to see this!

Are there any plans to wasm post mvp features like simd and multi threading instead of service workers for CPU based parallelism?

[2018-12-03 06:59] fs-eire commented on #19
We had plans for leveraging `SharedArrayBuffer` for multi-threading, and [emscripten](https://github.com/kripken/emscripten) has experimental support on that. After the [Spectre](https://meltdownattack.com/), `SharedArrayBuffer` is disabled in mainstream browsers so we held the plan.

Currently SIMD and native multi-threading are in [proposal stage](https://github.com/WebAssembly/proposals). We wi

[2018-12-03 07:47] hariharans29 commented on #16
@fs-eire - For the second issue (operator BatchNormalization reports 'InvalidInputs' because of X.dims.length < 3), the input data X should be atleast 3 dimensional. The first dimension is batch size, the second is channels, and the third onwards are the data dimensions. More details [here](https://github.com/onnx/onnx/blob/rel-1.2.3/docs/Operators.md#inputs-9).

[2018-12-03 08:33] fs-eire commented on #17
thanks @pinzhenx for figuring out the root cause. A fix for Linux is in PR now.

[2018-12-03 10:37] #17 closed

[2018-12-03 18:08] aretmr commented on #19
Thanks. I am championing the SIMD proposal and web based ML is an important use case for the proposal. It will be great to have your inputs on the features/semantics to benefit ML on the web.
Also the benchmarks used for ML applications are valuable in optimizing implementations.

[2018-12-04 18:57] ybrnathan commented on #19
@aretmr, we are glad that you are championing the SIMD proposal. SIMD support in WASM will be the key to close the performance GAP with native code. What's the status of SIMD proposal, what's blocking to make it mainstream?

[2018-12-04 20:46] ybrnathan commented on #10
Hi Janos,

Supporting customvision.ai exported onnx model is in the plan. We would like to support those models in a formal way instead of providing work around solutions. Will keep you updated with the progress.

Thanks,
Nathan

[2018-12-05 06:08] aretmr commented on #19
SIMD proposal is at the Feature proposal stage (CG Phase1). Availability of toolchain support to generate wasm.simd has been a blocker for using the implementations offered by ChakraCore and v8. However a llvm backend for emscripten has been making good progress to fill this gap.

The proposed features are evolving and it will be great to have feedback from the ML world use cases. It will be great

[2018-12-05 16:18] Narsil opened #30 "BatchNorm when coming from pytorch does not work."
Simple Pytorch script to showcase the failure

[code]

When I try to load from the default script I get
`Scaler tensor is not implemented yet`.
Backtracking the issue, I think it is linked to Pytorch `BatchNorm.num_batches_tracked` tensor, which is a scalar.

By the way, why are scalars not supported yet ? Don't they behave as tensor of shape=[1] ? (broadcasting issues aside)

[2018-12-05 18:33] ybrnathan commented on #16
Double checked PyTorch BatchNormalization implementation, seems like PyTorch has two versions:
- torch.nn.BatchNorm1d
    Input: (N,C) or (N,C,L)
    Output: (N,C) or (N,C,L)

- torch.nn.BatchNorm2d
    Input: (N,C, H, W)
    Output: (N,C, H, W)

And according ONNX spec, ONNX only support (N, C, H, W) or (N, C, L) and does not support (N, C). In your model, The BatchNormalization node after MatMul

[2018-12-06 02:20] fs-eire commented on #30
thanks for the feedback. we are working on a change to enable scaler tensor.

[2018-12-07 08:18] Narsil commented on #30
I use the exact code from the README.
[code]

And the script fails before loading the model (I tried removing the promise to be sure too)

[2018-12-07 14:18] Narsil commented on #30
Seems #38 works.

[2018-12-07 22:50] hariharans29 commented on #30
Thanks for the feedback @Narsil. Can you please check if similarly #40 works for you? It should have similar support as #38 but better backend design for scalar tensors.

[2018-12-10 10:44] Narsil opened #41 "DepthWise conv layer incorrect (Conv.groups) ?"
There seems to be a bug when using Convolutional Depthwise layers.

Here is a small script to generate a faulty onnx file:

[code]

When you try to load everything works fine, but an error is raised at inference time:
`invalid inputs detected; op: unnamed_Conv_1`
This is the depthwise layer that is faulty.

I pinpointed down the problem to `lib/ops/conv.ts:37` where I believe
```const filterInChan

[2018-12-10 16:47] Narsil commented on #41
After careful checking, it seems the result operation is wrong as the outputs do not correspond to the values they should be.

[2018-12-10 17:56] jeffsaremi commented on #41
groups are currently not implemented in conv.ts in WebGL. Sorry for the inconvenience.

[2018-12-10 17:59] Narsil commented on #41
That explains the problem. And when they will be, should I expect the runtime to become lower than wasm, or it can happen that wasm is actually faster than webgl ?

[2018-12-10 18:15] jeffsaremi commented on #41
I don't think we have a platform on which WASM is faster than WebGL. The fix for groups should not affect anything adversely I hope.

[2018-12-14 07:59] miaobin opened #48 "npm install fails in the benchmark folder"
Dev environment is windows10, node.js v10.13.0, npm 6.4.1

The error messages are:
npm WARN deprecated circular-json@0.5.9: CircularJSON is in maintenance only, flatted is its successor.

[2018-12-14 19:17] fs-eire commented on #48
Thanks for the feedback. It looks like package `circular-json@0.5.9` is an indirect dependency of `karma@3.1.1`. (`karma@3.1.1`->`log4js@3.0.6`->`circular-json@0.5.9`).

We will update package version in next package release to resolve this problem. Before that, you are OK to use the existing npm install with a deprecation warning (this does not fail the npm install).

[2018-12-25 13:44] NTT123 opened #52 "Concat Bug"
https://github.com/Microsoft/onnxjs/blob/6ccc22568f7b9e712cf4bb803cf4b201f6314d3b/lib/backends/cpu/ops/concat.ts#L44

This line should be `else if (inputShape[axisIndex] !== dataNShape[axisIndex]) {`

Currently, it throws an exception when we concatenate two tensors of sizes (1, 2, 3, 4) and (1, 8, 3, 4) with axis=1.

[2018-12-25 16:15] liuziyue commented on #52
Thank you for the feedback. It seems our test case didn't catch this scenario. We'll investigate and fix this issue.

[2018-12-25 16:32] NTT123 opened #53 "[Bug] Compute a node many times"
https://github.com/Microsoft/onnxjs/blob/c2f3de6d934e807ec7880ea3e9438ce519d1b8f6/lib/execution-plan.ts#L136

When a node has two identical inputs, e.g. `y = concat(x, x, dim=0)`, the above line will add `y` twice to the list `sequence`. This causes an exception at https://github.com/Microsoft/onnxjs/blob/c2f3de6d934e807ec7880ea3e9438ce519d1b8f6/lib/execution-plan.ts#L118  when y is computed the s

[2018-12-25 16:47] NTT123 opened #54 "Unnatural node indexes"
https://github.com/Microsoft/onnxjs/blob/c2f3de6d934e807ec7880ea3e9438ce519d1b8f6/lib/graph.ts#L221-L233

These above lines add data buffer for the output nodes which is unnecessary because after that at
https://github.com/Microsoft/onnxjs/blob/c2f3de6d934e807ec7880ea3e9438ce519d1b8f6/lib/graph.ts#L235-L271
these lines already take care of this task for all nodes in the graph.

Current implementat

[2018-12-25 18:41] NTT123 commented on #30
@Narsil  Hi, I've removed the statistical scalar `num_batches_tracked` from Batchnorm which turned out to work.

[code]

[2018-12-26 08:37] Narsil commented on #30
Actually using the modified version of onnxjs works and is even better !
But thank your for the tips @NTT123

[2018-12-27 19:32] zsajjad opened #58 "Error: invalid wire type 4 at offset 3"
I am trying to develop react app that does object detection using onnx. I am using squeezenet example in onnx-demo project. On running model console says
[code]
[Project code](https://github.com/zsajjad/onnx-heartbeat)

[2018-12-27 20:54] #58 closed

[2018-12-27 20:54] zsajjad commented on #58
It was due to the model not loading properly.
Thanks for the great work!

[2019-01-01 08:05] ykim opened #60 "Uncaught (in promise) TypeError: unrecognized operator 'Squeeze'"
After exporting a model from PyTorch to ONNX, I attempted to load the model using the code in the README and encountered this error:

[code]

I looked at the list of supported operators, and it looks like Squeeze isn't listed on it. Are there plans to support it?

[2019-01-02 03:38] NTT123 commented on #60
@ykim You can simply use `reshape` function as an alternative for squeeze.

Besides, you can checkout my squeeze (and unsqueeze) implementation for cpu and webgl backends at
https://github.com/NTT123/onnxjs

I've done it for my pytorch model recently.

[2019-01-02 22:55] ykim commented on #60
@NTT123 Thanks for the suggestions. I'll take a look at your branch also.

[2019-01-03 23:18] #48 closed

[2019-01-05 10:39] Jacques-L opened #64 "CDN file very far behind master"
When importing onnxjs via `<script src="https://cdn.jsdelivr.net/npm/onnxjs/dist/onnx.min.js"></script>`, the version of onnxjs obtained is very old, missing a couple of essential fixes. Is there any way get a newer version of onnxjs using `<script>`?

[2019-01-06 21:23] cwrter opened #65 "Add support for dynamic input sizes"
I have an FCN which can theoretically take any size input. However, an error is returned if I use any input size other than that defined in the onnx file. It would be very helpful if dynamic input sizes were to be supported.

[2019-01-07 17:50] ykim commented on #60
@NTT123 Any chance you'll make a future PR for your squeeze and unsqueeze implementations?

[2019-01-08 04:50] NTT123 commented on #60
@ykim I've not submitted a PR for squeeze/unsqueeze because my current implementation is messy and redundant.

[2019-01-08 20:02] fs-eire commented on #64
thanks for the feedback. we will release a new version and publish to npm in this week.

[2019-01-08 20:07] fs-eire commented on #65
An ONNX model allows dynamic input dimensions. Is the model using a dynamic or fixed input dimension definition?

[2019-01-08 20:18] fs-eire commented on #54
Do you mean to put the section `// scan all outputs` after `// scan all nodes`?

The code works after switching the 2 sections; but it does not help to preserve the indices of nodes in the original onnx graph: All model inputs will always be in front; a lot of processing may change it as well: removing `Constant`, `Identity` and `Dropout` ops, and graph optimizations may even fuse or split operato

[2019-01-08 22:50] fs-eire commented on #52
This should have been fixed in #63

[2019-01-08 22:50] #52 closed

[2019-01-09 03:36] NTT123 commented on #54
OK. I will close this issue.

[2019-01-09 03:36] #54 closed

[2019-01-12 02:54] fs-eire commented on #64
v0.1.2 is released today. I am planning to make a bi-weekly regular release, or an immediate release if any severe bugfix is on.

[2019-01-12 02:54] #64 closed

[2019-01-21 14:21] aletulier opened #80 "TypeError: unrecognized operator 'ATen'"
When trying to use a unet model exported from pytorch 1.0 I get the following error:
TypeError: unrecognized operator 'ATen'
    at createOperator (/home/alexis/devs/javainference/node_modules/onnxjs/lib/backends/cpu/ops-resolve.js:157:19)
    at Object.resolve (/home/alexis/devs/javainference/node_modules/onnxjs/lib/backends/cpu/ops-resolve.js:35:14)
    at WasmSessionHandler.createOperator (/hom

[2019-01-21 14:55] aletulier commented on #80
Indeed, it seems to be the case, the operations here that is not support is _weight_norm

[2019-01-22 06:57] NTT123 commented on #80
Sorry I missed it.

So, you can use `remove_weight_norm` from here https://pytorch.org/docs/stable/nn.html?highlight=weight_norm#torch.nn.utils.remove_weight_norm to remove the `weight_norm` ops. This is OK because `weight_norm` is useful for training only. We can remove it and restore to the original linear function when doing evaluation.

[2019-01-22 08:08] aletulier commented on #80
Thank you very much,
It did the trick for weight_norm. Now, time for inference !

[2019-01-22 22:45] cwrter commented on #65
@fs-eire The model is using a dynamic input dimension definition. The problem seems to be however that onnx.js does not allow more than 2 of the dimensions to be unspecified (in this case x and y)

[2019-01-23 23:12] Nomad-Go commented on #58
Care to describe what caused the problem and what changes you made to solve it?

[2019-01-24 18:05] yhung119 commented on #18
Hi, I would love to take on this issue. Is anyone else working on this already?

[2019-01-24 20:58] hariharans29 commented on #18
@gnsmrky and @JamesOscar - Thanks for your interest in ONNX.JS. #82 should have the IN operator for the `wasm` backend and the default `cpu` backend

@yhung119  - I have a simplistic implementation for this already. Please feel free to take a look to see if it can be improved. Additionally, the IN operator for the `webgl` backend can be tackled as well :). Thanks for your interest in contributing

[2019-01-25 22:53] zsajjad commented on #58
The model was not imported properly before using the prediction.

[2019-01-27 11:42] astu9880 opened #84 "TypeError: unrecognized operator 'Shape'"
onnxjs provides no support for Shape operator. I couldn't find anything about it in the docs as well. Which onnx version does onnx.js support?

[2019-01-27 20:02] alxmamaev commented on #58
what it is mean?

[2019-01-28 22:57] fs-eire commented on #41
This issue should have been fixed in the latest release.

[2019-01-28 22:57] #41 closed

[2019-01-28 22:58] fs-eire commented on #60
The latest release 0.1.3 supports `Squeeze`.

[2019-01-28 22:58] #60 closed

[2019-01-29 02:37] hariharans29 commented on #84
Hi,

Thanks for your interest in ONNX.js. Currently, ONNX.js supports [ONNX V1.2.3 - Opset V7](https://github.com/onnx/onnx/blob/rel-1.2.3/docs/Operators.md). Please keep in mind- currently ONNX.js only supports only a subset of all operators as listed [here](docs/operators.md). We are adding support for more operators on a regular basis.

If it's possible, could you please share your ONNX model f

[2019-01-30 13:07] gnsmrky commented on #18
@hariharans29 #82 has few errors. Is it still good to use it?  Or should wait until official stable release?

I actually worked around this issue by implementing InstanceNorm in PyTorch and managed to run it on ONNX.js now.

[2019-01-30 18:59] hariharans29 commented on #18
@gnsmrky

Thanks for your comment. It's great to know that you have a work-around. Some comments/questions -

1) You are more than welcome to wait for the next official release, but as far as I can see, #82 passes build and has passed all tests (including the IN op specific tests). The red crosses that you probably are referring to on the PR page pertains to the fact that it's still pending a revi

[2019-02-05 22:52] rcmalli commented on #84
This is reproducible by using `resnet50` model by using Pytorch 1.0+. Shape operator is used by the converter.

[code]

[2019-02-06 11:36] NTT123 commented on #84
As described in the source code https://github.com/pytorch/vision/blob/1f8f7ea71c8807408a7860b8ae9ca63177975b64/torchvision/models/resnet.py#L161
You can override the `forward` function to remove `x.size(0)` from the model, e.g., x.size(0) = 1 if your batch size = 1.

[2019-02-07 12:23] astu9880 commented on #84
@NTT123 We tried removing x.size() from our code. We are using x.view(). Could that be a reason for the fail?

[2019-02-07 18:18] euler16 commented on #84
@NTT123 and @hariharans29 is there a way through which we can avoid ONNX Shape operator by manually changing the ONNX IR as suggested [here](https://discuss.pytorch.org/t/export-onnx-with-static-shape-instead-of-onnx-shape-operator/27626)?

[2019-02-07 19:37] astu9880 opened #87 "TypeError: unrecognized operator 'Flatten'"
I was able to bypass issue #84 by removing the functino x.size(). However, onnxjs doesn't support another operator I have use of i.e. Flatten. Is there a workaround for the same?

[2019-02-07 19:38] astu9880 commented on #87
@NTT123 @hariharans29

[2019-02-08 03:50] NTT123 commented on #87
In pytorch, we can use `view` function as an alternative for `flatten` function . However,
here is the source code of torch.onnx exporting function for view ops:
https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic.py#L440
so, `x = x.view( *sizes) `, can be exported to either `Flatten ops` or `Reshape ops`.

Here we have three options:

  1. modify the above symbolic `view` function

[2019-02-08 03:59] NTT123 commented on #84
@astu9880, for Resnet Model, I recommend a hack by replacing:
`x = x.view(x.size(0), -1)` by two lines:

` x = x.view(-1)`
` x = x.unsqueeze(0)`

this assumes your batchsize = 1

[2019-02-08 04:07] fs-eire commented on #87
My understanding is, operator `Flatten` only changes the dims of the input tensor like `Reshape`, `Squeeze` and `Unsqueeze` do. If it is this case, it should be easy to implement this operator.

[2019-02-08 05:36] astu9880 commented on #87
@NTT123 I am unsure about how onnx C functions are working. Can you explain how the 1st and 2nd methods of your suggestion can be executed?

[2019-02-08 13:28] virgile-thermo opened #89 "only support ONNX model with IR_VERSION=3"
I converted a keras model using onnxmltools.convert_keras with target_opset=7 but the IR_VERSION is set to 4.
Is there a way to have compatiblility between the export and your lib?

Best regards,

[2019-02-09 02:12] fs-eire commented on #89
ONNX IR_VERSION 4 is published on 2019-01-22 and is not yet supported by ONNX.js now.

I will take a look at the changes of the protobuf definition to see if it is safe to upgrade to IR v4.

[2019-02-10 06:22] virgile-thermo commented on #89
thank you so much.

[2019-02-12 09:03] GalAster commented on #89
@virgile-thermo You can force `version` to 3.

[code]

but if there are some V4 only operators, it will cause `TypeError: unrecognized operator 'XXX'`

[2019-02-12 09:06] virgile-thermo commented on #89
Thanks,
And I's possible do it at the export step :
onnx_model = onnxmltools.convert_keras(classifier, target_opset=7)
onnx_model.ir_version = 3
onnxmltools.utils.save_model(onnx_model, 'model.onnx')

[2019-02-14 13:00] luiscastro193 opened #90 "iOS support"
I know you are aware of this issue but you can't realistically use this library in production until this is solved.

Awesome library, by the way :)

[2019-02-15 19:46] ThomasDelteil opened #91 "feature request: TransposeConv operator"
Just to register interest for the addition of the TransposeConv operator. This is widely used operator for upsampling tasks like pose estimation, convolutional auto-encoders, etc

Thanks

[2019-02-17 13:29] alxmamaev opened #92 "Clip operation is not supported"
If you trying to export and load MobilenetV2 (like in this [implementation](https://github.com/tonylins/pytorch-mobilenet-v2/blob/master/MobileNetV2.py))
You will get error: `unrecognized operator 'Clip'`
This error is except because in MobilenetV2 are using [ReLU6](https://pytorch.org/docs/stable/nn.html#torch.nn.ReLU6) instead ReLU.

[2019-02-17 14:00] alxmamaev commented on #87
Flatten also is using in [ResNet50 version 1](https://github.com/onnx/models/tree/master/models/image_classification/resnet) in ONNX Model Zoo,  so this model is not working in onnx.js

[2019-02-17 14:54] NTT123 commented on #87
As @fs-eire said, `Flatten` only changes the shape of input tensor. It should be very similar to my previous PR for `Squeeze` here https://github.com/Microsoft/onnxjs/pull/73/files . The only different is to use a new function `squeezeShape` instead of `flattenShape`.

@astu9880 1st and 2nd methods are basically implementing `flatten` function using reshape ops.

[2019-02-17 16:50] NTT123 commented on #92
Instead of waiting for `clip` operation being supported, you can replace `ReLU6` module by the following custom module

[code]

[2019-02-18 15:16] fumiya0 opened #94 "Source data too small. Allocating larger array instrument.ts:82"
I created a model for image classification using pytorch and transformed it to onnx.
Trying a random value input [1,3,224,224] to it on background 'webgl',  it seems the output is almost same, regardless of the value of the input.
Console said "Souce data too small. Allocating larger array instrument.ts:82". I'm not sure how and where to fix. I think there is something wrong with the model.
My mod

[2019-02-21 07:54] hariharans29 commented on #53
Fixed by #88

[2019-02-21 07:54] #53 closed

[2019-02-21 07:58] hariharans29 commented on #18
Closing this as #82 is merged to master and primarily addresses the issue of missing IN op in ONNX.js. Currently, cpu and wasm backends are supporting IN op.

[2019-02-21 07:58] #18 closed

[2019-02-23 18:18] tms1337 opened #96 "TypeError: unrecognized operator 'Elu'"
When trying to load up my model I get

[code]

I exported my model via pytorch. Does this mean I can't use Elu with onnxjs?

I use the tutorial code for loading

[code]

Best,

[2019-02-27 17:45] SubhiH commented on #94
I am getting the same warning message. The output of my onnx model is not the same of the original model but it is not always the same. Were you able to solve this issue?
@fumiya0

[2019-02-28 01:50] fs-eire commented on #94
I tried to figure out the cause of that warning message. It looks like the webgl backend implementation in `Conv` operator is not working correctly when `strides` is not set to `[1, 1]`. This may need a fix for the operator. @NTT123 @hariharans29

[2019-02-28 01:52] fs-eire commented on #87
This should have been resolved in #93.

[2019-02-28 01:52] #87 closed

[2019-02-28 12:04] uncleshushu commented on #91
I got stuck here 😥:

[code]

Hope this operator could be implemented soon. Thanks.

[2019-02-28 18:11] SubhiH commented on #94
@fs-eire
I am using webgl as a backend. My original model is built using MXnet framework then I converted it to onnx and called it from onnxjs. In the original model, I set all the stride values for conv layers to either (1,1) or (2,2).
When I convert the back-end to 'cpu', I get an error (I think I should open an issue for that):

Thanks!

[2019-03-04 03:20] astu9880 opened #100 "Creating onnxjs from master"
How do we create onnxjs from source since the file available on cdn is outdated?

[2019-03-04 03:23] fs-eire commented on #100
You can always run `npm run build` in source root to create the artifacts. BTW the next release is soon, as #99 is on the way.

[2019-03-05 15:22] SubhiH commented on #100
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "run" "build"
npm ERR! node v8.10.0
npm ERR! npm  v3.5.2
npm ERR! code ELIFECYCLE
npm ERR! onnxjs@0.1.4 build: `tsc && node tools/build --build-wasm --build-bundle`
npm ERR! Exit status 1
npm ERR! Failed at the onnxjs@0.1.4 build script 'tsc && node tools/build --build-wasm --build-bundle'.
npm ERR! Make sure you have the latest version of node.js and n

[2019-03-05 15:36] SubhiH commented on #100
Now, it is available here: https://cdn.jsdelivr.net/npm/onnxjs/dist/onnx.min.js
Thanks! :)

[2019-03-05 19:24] vickyModiface commented on #94
I don't think the error is caused by **strides** setting, since resnet works fine. In my part of work the problem comes from the **conv** operator when the ### group not set to 1.

[2019-03-05 20:28] fs-eire commented on #100
@SubhiH For the error that you have encountered, it looks like some error occurred inside tools/build.ts. there seems not enough logs for identifying the issue.

check the following dependencies if you want to pass the build by yourself in future:
- Node.js latest LTS (ie. 10.x)
- Python (2.7 or 3.6+)

[2019-03-06 14:27] gnsmrky opened #102 "InstanceNormalization op works with cpu backend, but fails with wasm backend."
Hi @hariharans29, I just tried out the newly InstanceNormalization op, as in #18 .  With `cpu` backend, it works good.

But when using `wasm` backend, it gives the following RuntimeError error when running with Chrome browser (72.0.3626.119) on Windows 10:
[code]

Here is the code:
[code]

I've setup a GitHub page to repro this issue.  Both `onnx-wasm.wasm` and `onnx-worker.js` are in the same dir

[2019-03-07 05:50] jmswaney opened #103 "Invalid inputs detected for unnamed_Conv_0"
I'm trying to use an audio CNN from pytorch in onnxjs, but I think I'm having some problems with the Conv1d layers. I got no errors with `onnx.checker.check_model(model)` in python and it seems to load fine into an InferenceSession with `await session.loadModel(...)` in node. However, when I provide the same size and type input as was used for the trace, I get this error:

`Error: invalid inputs d

[2019-03-07 06:04] fs-eire commented on #103
could you share the input shape and data type of the `Conv`'s inputs X, W and B(optional) ?

[2019-03-07 06:20] hariharans29 commented on #103
Could you also please share the model file (the one with the conv layer) along with the input type and shape as requested above ?

[2019-03-07 06:30] hariharans29 commented on #102
Hi,

Thanks for reporting this. This is strange. Let me take a look tomorrow.

Thanks

[2019-03-07 06:32] hariharans29 commented on #30
Closing this issue. Please reopen if needed.

[2019-03-07 06:32] #30 closed

[2019-03-07 06:36] hariharans29 commented on #16
Closing this issue as we root-caused the issue. ONNX spec doesn't support BatchNormalization op taking input of shape (N,C)

[2019-03-07 06:36] #16 closed

[2019-03-07 06:39] hariharans29 commented on #100
Closing this issue as the original issue reported was CDN behind master. Now that is fixed.

If build issue is encountered again with the minimum required dependencies installed as listed above, please open another issue.

[2019-03-07 06:39] #100 closed

[2019-03-07 07:27] #102 closed

[2019-03-07 14:07] jmswaney commented on #103
Here's part of the graph printed out by onnx:
[code]
There are no more convs after that, and all of the inputs, weights, and biases seem to be float32's. . Here is the toy model I've been trying to get working:
[model_with_convs.zip](https://github.com/Microsoft/onnxjs/files/2941560/model_with_convs.zip)

To call it in onnx.js, I've been making a `Float32Array` and turning it into a `Tensor` with

[2019-03-07 14:43] jmswaney commented on #103
Update: when I add a channel to make the model take in `[1, 2, 2, 44100]` with `Conv2d`, it's working fine.

[2019-03-07 19:34] hariharans29 commented on #103
That makes sense as for `Conv2d` the input data `X` has to be necessarily 4D (batch_size, num_channels, height, width). You can deduce that from the spec [here](https://github.com/onnx/onnx/blob/rel-1.2.3/docs/Operators.md#Conv). So adding a dim with unit value to the Tensor (for the same data) makes it cross the input validation step (which was the original error).

However, please check the corr

[2019-03-07 19:34] #103 closed

[2019-03-20 21:12] #92 closed

[2019-03-20 22:56] hariharans29 commented on #96
Resolved by #101

[2019-03-20 22:56] #96 closed

[2019-03-21 08:50] atalbayrak opened #109 "feature request: LRN operator"
LRN operator is widely used in many neural network like imagenet. WebGL does not support LRN operation. It was great if it is supported by WebGL. there is a huge perfomance gap between WebGL and CPU backend.

[2019-03-23 04:27] fs-eire commented on #102
This issue is fixed in v0.1.5.

[2019-03-23 04:28] fs-eire commented on #89
The IR_VERSION support should have been fixed in v0.1.5.

[2019-03-24 02:05] gnsmrky commented on #90
Just curious, any progress in iOS support?  Just tried 0.1.4 on Safari, still does not work.

[2019-03-24 02:10] gnsmrky commented on #91
@uncleshushu, can you share the use case?  If it is about image processing like style transfer, you can probably replace ConvTranspose by Upsample/Conv2d pair and still get good result.

[2019-03-25 19:04] hariharans29 commented on #89
Closing this as IR v4 is supported now. Please open another issue if you have problems using it.

[2019-03-25 19:04] #89 closed

[2019-03-28 03:03] fs-eire commented on #90
The current webgl backend does not work because rendering to float texture seems not supported so far on iOS. I will check if using half float works or not.

[2019-03-29 15:56] SubhiH commented on #94
I would like to mention that I have built the latest version of the code and I can run the model with "_wasm_" back-end.
When I switch to "_webgl_" , I get "_Source data too small. Allocating larger array_".
For "_wasm_" back-end and after running the model tens of time, an OutOfMemory exception shows.

[2019-03-29 15:58] SubhiH opened #115 "OutOfMemoryError with WASM back-end"
After running the model tens of time with **wasm** back-end, I get a memory error.

[2019-03-29 16:00] gnsmrky opened #116 "Android `webgl` backend outputs are incorrect and inconsistent between devices"
On Google Pixel 3, `Pad 'Reflection'` with `webgl` backend outputs zeros.
On Huawei Mate 20 Pro, `Pad 'Reflection'` is correct, but `Conv2D` output is not.

Is there a requirement for `webgl` on Android devices?

I've created a quick test page at [ONNX Op test page (https://gnsmrky.github.io/pytorch-fast-neural-style-onnxjs/test_ops.html)](https://gnsmrky.github.io/pytorch-fast-neural-style-onnxjs

[2019-03-29 18:19] hariharans29 commented on #115
Hello,

Thanks for raising this issue. This is the first time we are seeing an OutOfMemoryError thus far. Can you please share more context ?

1) Platform/ System specs
2) Model
3) Code showing how the model is invoked

[2019-03-29 19:12] SubhiH commented on #115
1. Platform:
    1. OS: Ubuntu.
    2. Browser: Chrome.
    3. Model: mxnet -> onnx -> onnxjs with wasm back-end.

2. Model: similar to MobileNet with a couple of more conv layers.

3. Code:

[code]

I have noticed from the monitor that the memory usage is increasing rapidly (tens of MBs).

Thank you!

[2019-03-29 19:37] SubhiH commented on #115
I am sorry for the mess. I am using OpenCVJS to prepare the image for the model. It seems the problem is from OpenCVJS not ONNXJS although I am releasing all the resources. I am doing few test cases to check the source of memory error and confirm here to close the issue.
Thank you! :)

[2019-03-29 19:46] hariharans29 commented on #115
Thank you for confirming this. I have been trying to profile memory usage and it seems fairly constant to me. You can try our demo site here - https://microsoft.github.io/onnxjs-demo (and use the WASM backend), the memory usage is fairly constant over multiple runs (I don't notice any leak like situation).
Please close this issue after your tests confirm the source of memory error.

[2019-03-29 20:25] SubhiH commented on #115
So sorry for wasting your time. I confirm that the memory issue is not related to ONNXJS.

[2019-03-29 20:25] #115 closed

[2019-03-31 08:59] christophstach opened #117 "TypeError: unrecognized operator 'Upsample'"
When using a style transfer model compiled to onnx, I get the following Error in onnxjs 0.1.5:

**core.js:15724 ERROR Error: Uncaught (in promise): TypeError: unrecognized operator 'Upsample'
TypeError: unrecognized operator 'Upsample'**

I am using the pytorch function

[code]

which is translated to the onnx Upsample operator, wich is not supported in onnxjs yet.

[2019-04-01 19:46] fs-eire commented on #116
@gnsmrky I tried to reproduce this issue using Android emulator on PC. However the issue is not shown in the emulator. I think I need a real device to test and debug (I will get one in couple of days).

[2019-04-01 22:50] ShuangLiu1992 opened #119 "Texture memory leak"
when running the demo from https://microsoft.github.io/onnxjs-demo/#/yolo or my own code that repeatedly calls run() on an onnx.InferenceSession() instance, the gpu memory goes to 99% quite often and the fps drops significantly, is there a way to manually free the allocated gpu memory?

[2019-04-01 23:23] fs-eire commented on #119
The yolo model does occupy quite a mount of GPU memory, but it should be able to reuse the allocated memory for later runs. If you see GPU memory usage grows every time run() is called, that should be an unexpected leak.

There is a `dispose()` for session object, but currently this function is not yet exposed as a part of API.

For one inference session, a model does occupy quite a mount of GPU m

[2019-04-01 23:34] gnsmrky commented on #117
@christophstach You will have to implement Upsample() by Concat() ops. Here is a working [ONNX.js Fast Neural Style](https://gnsmrky.github.io/pytorch-fast-neural-style-onnxjs/). Still buggy but should work ok on desktop browsers.

I am still working on putting up the modified PyTorch code to GitHub. Should be done soon.

[2019-04-01 23:36] fs-eire commented on #117
Thanks to @gnsmrky for the explaination. According to latest [ONNX spec](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Upsample), `Unsample` is deprecated in opset v10. Is there an equivalent alternative operators does the same thing?

[2019-04-02 03:06] ShuangLiu1992 commented on #119
it shoots up to 99% and there is WebGL: CONTEXT_LOST_WEBGL: loseContext: context lost
also I forgot to mention there is another webgl context being used to render stuff, which does not have the same element id used by the ONNXJS context factory.

as of UPLOAD IMAGE, I couldn't repeat enough times to observe any gpu memory leakage

[2019-04-02 13:44] gnsmrky commented on #117
@fs-eire I believe the equivalent op would be [Resize](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Resize).  Still need PyTorch ONNX export to change accordingly, though.

[2019-04-02 13:53] gnsmrky commented on #116
@fs-eire yes I think webgl is very hardware dependent. The webgl in Android emulator should be using either cpu-emulated webgl, or the Intel webgl backend.  So was trying to find out if there is a minimum comformant requirement when running mobile.

Would suggest Pixel devices as target device as it is being developed by Google.  It is just odd that Conv2d does not work on Huawei device.  Gonna tr

[2019-04-04 16:26] ShuangLiu1992 opened #124 "onnx.js inside webworker"
we are running onnx.js in a web worker inside chrome, but we want to utilise the GPU as well, is there anyway to achieve this?
currently onnx.js just stop working after reporting window is not defined

[2019-04-04 17:03] ShuangLiu1992 commented on #124
sorted that one out, now it's report WebGLBackend 2019-04-04T17:00:51.143Z|Unable to initialize WebGLBackend. ReferenceError: document is not defined

but in Chrome there should be offscreencanvas available

[2019-04-04 23:11] F0REacH opened #125 "ReduceMin and ReduceMax operations when coming from pytorch do not work"
## 🐛 Bug
Calling model with `onnx::ReduceMin` or `onnx::ReduceMax` results:
`Error: Uniform A not found.`

## To Reproduce
1. Run pytorch **(nightly)** code:
**NOTE installed nightly, because stable version does not support these operations properly:**
`conda install pytorch-nightly cudatoolkit=10.0 -c pytorch`
[code]
2. Generated graph for min
[code]
3. Generated graph for max
[code]

### Environ

[2019-04-05 23:13] fs-eire commented on #124
Thanks for the feedback! OffscreenCanvas is a new browser feature that ONNX.js does not utilize yet. Currently it looks like only Chrome 69+ supports this feature. In other browsers WebGL is not working in worker because it requires a canvas DOM object to initialize a WebGLContext.

Currently ONNX.js uses webworker only inside some operators implementation in WebAssembly backend. One problem for u

[2019-04-06 15:57] ShuangLiu1992 commented on #41
group convolution still doesn't seem to produce the correct output in the latest release

[2019-04-07 13:33] ShuangLiu1992 opened #126 "synchronous inference"
is there any way to run the inference synchronously? this way it doesn't require lots of changes for use cases where a busy loop is waiting for the inference result in a blocking way.

[2019-04-08 06:32] ShuangLiu1992 opened #127 "yolo demo on mobile"
yolo demo on mobile doesn't work
device: samsung note 8 with latest chrome

[2019-04-08 21:29] fs-eire commented on #127
Thanks for the feedback. I think this may caused by the same reason as #116. I'm working on a change in texture manager which hopefully help.

[2019-04-08 21:33] fs-eire commented on #126
This is not supported currently...

By the way, I would like to know what is your usage of synchronize model inferencing, regarding the status that browsers and node.js are both designed async and event driven.

[2019-04-09 09:06] ShuangLiu1992 commented on #126
we have a c++ program compiled into wasm with emscripten, the program was written for PC, so it manages a busy loop that process events (imagine a game or a real time web cam application). using async inference means we can't wait for the result and will have to rewrite how events are handled. for example adding waiting-for-result, results-ready events.

not being to run inference synchronously is

[2019-04-09 23:58] fs-eire commented on #126
There are 2 reasons why `InferenceSession.run()` is an async function:
 - for WebAssembly backend, for some operators, the implementation uses multi-thread, which is based on web-worker. This means it has to be async. (no sync API for web-workers)
 - for WebGL backend, it's based on environment (browser support) that an async texture read operation is possibly available

There are other advantages

[2019-04-10 13:50] SirCameron commented on #84
Hi

I'm using PyTorch to export a custom CNN model.
A piece of the verbose export shows:
`%11 : Long() = onnx::Constant[value={0}](), scope: Model
  %12 : Tensor = onnx::Shape(%0), scope: Model
  %13 : Long() = onnx::Gather[axis=0](%12, %11), scope: Model
  %14 : Long() = onnx::Constant[value={1}](), scope: Model
  %15 : Tensor = onnx::Shape(%0), scope: Model
  %16 : Long() = onnx::Gather[axis=0](

[2019-04-10 13:56] chazhenry commented on #58
I also get: "invalid wire type 4 at offset 9".

Can you please give detail about "the model not loading properly"? I am using the code directly from the repo.

[2019-04-15 07:01] NCTUyoung commented on #65
Same problem here
I use ONNX model with dynamic input dimensions.

[2019-04-16 08:51] fs-eire commented on #119
I did some test and verified that there are texture leak, at least for some operators. Will work on it to find out the root cause.

[2019-04-19 09:30] Kirayue opened #138 "TypeError: unrecognized operator 'Pad'"
Hi, I got a problem while loading model using onnx.js. Is there any way to solve this error?
Also, I got these two at the same time
w WebGLBackend 2019-04-19T09:24:13.803Z|Unable to initialize WebGLBackend. ReferenceError: document is not defined
e WebAssembly-Workers 2019-04-19T09:24:13.808Z|Environment does not support usage of Workers. Will not spawn workers.

I ran two lines of code in the nod

[2019-04-21 09:35] MrPec commented on #10
Any news on this? We also have some trained modules (compact) and tried to export them (both as 1.0 and 1.2), but we get a "Model is not valid!" message...

[2019-04-23 02:08] Kirayue commented on #138
There is another problem. Because of lacking pad operator, I download the squeezenet model from the model zoo. Then loadModel succeeded, but the output of the model is undefined.
Here is code snippet.

[code]

and the console result is {value: undefined, done: true}

[2019-04-23 05:09] fs-eire commented on #138
Thanks for the feedback. It looks like currently operator `Pad` is only supported in `webgl` and `onnxruntime (node.js)` only. will support `Pad` in CPU backend in future.

[2019-04-23 06:56] Kirayue commented on #138
Hi, @fs-eire
Sorry for my unclear descriptions.  Here onnxruntime is the module from the python package. I tested two models from python onnxruntime first and then from node.js (onnxjs-node).  I expected it to work, but I encountered many weird results.
According to README.md, running in node needs an extra package(onnxjs-node), and there is no need to modify code running in onnxjs. But after requ

[2019-04-23 07:58] fs-eire commented on #138
@Kirayue
There are 4 available value for the option `backendHint` : `webgl`, `wasm`, `cpu` and `onnxruntime`.

ONNX.js will resolve the backend according to `backendHint`, as the following behavior:
  - **if** `backendHint` is specified, use that backend anyway.
  - **else**: (`backendHint` is not specified)
    - **if** the environment is Node.js
      - **if** module `onnxjs-node` is loaded:

[2019-04-23 08:15] Kirayue commented on #138
@fs-eire, thank you for your explanations.

If I want to use `wasm`, should I install or config something? Because the error still remains even I used it in Node.js. I made a copy of `onnx-worker.js` to the dir of `index.js`.

This looks the session is created successfully. It is not an empty object -- although you cannot see its members. It's a Node.js native binding so it works if you call .load

[2019-04-23 08:40] fs-eire commented on #138
you should use `session.run([tensorX])`, since `session.run()` accepts a tensor array as its first input

https://github.com/Microsoft/onnxjs/blob/c1c8f90492dea911000bffda39691786b6b6ac7d/lib/api/inference-session.ts#L35-L44

[2019-04-23 09:08] Kirayue commented on #138
Ok, it works. thank you for your help.
So the rest if that if I want to test my own model, I have two choices, `onnxruntime` and `webgl` because of `Pad` operator, the former I ran I got `Error: unsupported data type (7)`, but I tested it using python `onnxruntime`.

My purpose is to deploy my model using `webgl`, I just want to make sure why onnxruntime did not work.
I will try `webgl` later, tha

[2019-04-23 09:38] fs-eire commented on #138
the error message `Error: unsupported data type (7)` indicates that the model is outputting one or more INT64 tensor(s).

JavaScript's `number` is not compatible with int64, and there are no such thing like `Int64Array`. Although there are libraries like `Long` it is still not that easy to support int64.

Inside onnxjs, all int64/uint64 intermedia tensors will be triggered as int32/uint32, assumin

[2019-04-23 10:09] Kirayue commented on #138
Got it, thank you @fs-eire

I will modify the model and rerun again.

[2019-04-23 22:26] fs-eire commented on #80
`ATen` is a special operator. It's designed to be a fallback for pytorch and its behavior is left to pytorch's implementation. It is going to be removed in the latest ONNX spec (opset v10).

This operator is not going to be supported in future.

[2019-04-23 22:26] #80 closed

[2019-04-23 22:29] fs-eire commented on #90
iOS support will be available in v0.1.6. release will happen in few days. see #132 #141

[2019-04-23 22:31] fs-eire commented on #119
PR #139 should be able to fix this issue.

[2019-04-24 03:02] Kirayue commented on #138
Hi, @fs-eire
Sorry to bother again, I want to try the models in the browser. Squeezenet from the model zoo worked fine, but my own model caused the error `unrecognized operator 'Shape'`. I use 'webgl' backend, there is no `Pad` error. I also checked the operators written in `operators.md`, it should not occur `Shape` operator error in `webgl` backend.

[2019-04-24 08:37] gnsmrky commented on #138
`Shape` isn't listed in the [ONNX.js op list](https://github.com/Microsoft/onnxjs/blob/master/docs/operators.md).  If the tensor shape you are trying to do is static, you can always set it as constant variable in your network's `torch.nn.Module` classes.

[2019-04-24 09:11] Kirayue commented on #138
@gnsmrky
oh, you are right, I misread to `Reshape`. But how do I set it as a constant variable?

[2019-04-24 09:44] #138 closed

[2019-04-24 15:23] gnsmrky commented on #117
@christophstach Take a look at my [PyTorch fast-neural-style (FNS) for Web](https://github.com/gnsmrky/pytorch-fast-neural-style-for-web).  I've put up all the details to make the PyTorch FNS work with ONNX.js.  Some network model tweaking methods for running in browsers are mentioned.  Should give you a good reference to make it run with ONNX.js.

More technical details for op replacements are at

[2019-04-25 01:22] #125 closed

[2019-04-27 04:43] fs-eire commented on #119
Fixed in ONNX.js v0.1.6. Please retry the onnxjs demo.

[2019-04-27 04:44] fs-eire commented on #90
Fix available in ONNX.js v0.1.6

[2019-04-27 04:44] #90 closed

[2019-04-30 00:29] fs-eire commented on #119
this is my bad. the PR #139 is not yet merged and it is not included in v0.1.6. re-open this issue. sorry for the confusing

[2019-05-07 13:51] ShuangLiu1992 opened #145 "webgl extension"
with the latest release I'm getting this error with chrome on android. (samsung note 9, samsung s6)

[.WebGL-0xcc479c00]GL ERROR :GL_INVALID_OPERATION : glDrawArrays: GL_BLEND with floating-point color attachments requires the EXT_float_blend extension

[2019-05-07 14:15] ShuangLiu1992 commented on #145
is there anyway to force webgl1 context since this extension doesn't seem to be supported on android?

[2019-05-07 14:35] ShuangLiu1992 commented on #145
I can switch the context to webgl1 with
` onnx.backend.webgl.contextId = 'webgl';`

then it gives me
[code]

[2019-05-08 04:04] Kirayue commented on #94
Hello, everyone
I am getting the same warning message. According to @fs-eire, it's due to `strides` of `Conv` operator is not set to [1, 1]. But I test my two own models, both have non-[1, 1] `strides`, only one model causes this warning.
My question is `does this affect the inference time`? I want to compare the inference time to tf.js, so I want to know whether the time measured is precise with

[2019-05-08 21:49] fs-eire commented on #145
It looks like GL_BLEND not working on Samsung devices (it works on Google Pixel, LG, Sony, OnePlus and so on. I don't have any Huawei, Xiaomi so not sure about those)

What makes the situation worse is, the WebGL extension availability is not detectable. The [spec](https://www.khronos.org/registry/webgl/extensions/EXT_float_blend/) indicates that `EXT_color_buffer_float` should enable BLEND in "su

[2019-05-08 22:29] bemoregt opened #146 "But, There is no response when click the "run button" in my web page."
Hi, @jdhuntington @chad @sverrejoh @bgianfo @radical

I tried simple resnet50_8.onnx model with default cat image.

But, There is no response when click the "run button" in my web page.

What's wrong to me?

My browsers are firefox & safari. Both browser's results are same.

Thanks in advance.

[2019-05-08 22:34] fs-eire commented on #146
Hi @bemoregt could you please share more information:
  - are you trying the [ONNX.js demo](https://microsoft.github.io/onnxjs-demo/) or you are building your own web app
    - if you are building your own webapp, which version of ONNX.js are you using
  - what is the device that you use

[2019-05-09 00:56] bemoregt commented on #146
Hi, @fs-eire

Further information here :

- I'm trying your ONNX.js demo.
-- How can I check my onnx.js version?

- What is the device that you use:
-- MacOSX Mojave x64, i7,
-- node v12.1.0, npm 6.9.0
-- Firefox 66.0.4
-- Safari 12.0.3

Thanks .

[2019-05-09 01:06] fs-eire commented on #146
I tried ONNX.js demo on both Safari 12 and Firefox 66 on macOS Mojave, and both works.

And you memtioned the "run button", this is strange. There is no such a button in the resnet50 demo. There are a dropbox with a prepared image list and a "upload image" button. Once either changed its content the model will run with the loaded image. Are you visiting https://microsoft.github.io/onnxjs-demo/ or

[2019-05-09 01:27] bemoregt commented on #146
Hi, @fs-eire @jdhuntington @chad @sverrejoh

There is a button in this github demo source.

  <h1>Resnet50 Example</h1>
  <img id="imageSource" src="./resnet-cat.jpg"/>
  <div>
    <input type="button" value="Run" onclick="runExample()">
  </div>
<div id="predictions">

at https://github.com/microsoft/onnxjs/blob/master/examples/browser/resnet50/index.html

[2019-05-09 01:35] bemoregt commented on #146
@fs-eire

I followed this instruction.

https://github.com/microsoft/onnxjs/tree/master/examples/browser/resnet50

[2019-05-09 01:43] fs-eire commented on #146
It looks like the instruction is not working... Change the steps in the instructions as described below:
 - use `http-server .. -c-1 -p 3000` instead of `http-server . -c-1 -p 3000`
 - then visit `http://localhost:3000/resnet50/` instead of `http://localhost:3000`

The problem is because some shared js files (under `../common/`) are failed to serve

[2019-05-09 12:35] ShuangLiu1992 commented on #145
yea, I thought onnxjs was using webgl1 on ios but seems like it is just using wasm backend.
samsung phones are quite popular in eruope and tensorflowjs does support them (also supports synchronous inference).

onnxjs is a great framework and has lots of promises but at its current state we will have to go back to converting onnx models to keras then tensorflow js :c

[2019-05-09 16:56] opkm opened #147 "Error: load converted models keras2onnx"
Error: invalid name for initializer: W when load model
this first conv layer in model

[2019-05-09 22:33] fs-eire commented on #145
On Samsung devices, WebGL2+no BLEND is the solution. I did a quick investigation on Samsung to disable BLEND and it passes the tests. I will work on this to fix the problem.

iOS webgl support is available in [v0.1.6](https://github.com/microsoft/onnxjs/releases/tag/v0.1.6)

[2019-05-09 22:53] fs-eire commented on #147
This looks like the graph has an initializer named `W`, but it's not in the model's input list. Initializers should always be applied to graph's inputs. could you check if:
  - tensor `W` is not used in the graph
  - it is `w` instead of `W` (tensor names are case-sensitive)

[2019-05-10 08:05] opkm commented on #147
graph.initializer have all nodes, but graph.input only one node
![5468387](https://user-images.githubusercontent.com/42702201/57511910-c48aef80-7323-11e9-811b-e2f7ffe4beba.png)

[2019-05-10 09:02] ShuangLiu1992 commented on #145
also, it seems like grouped convolution where depth_multiplier is not 1 (out_channel != group || out_channel != in_channel) is not producing the correct results with webgl backend?

[2019-05-10 09:05] opkm commented on #147
model
[wpod.zip](https://github.com/microsoft/onnxjs/files/3165718/wpod.zip)

[2019-05-11 20:32] #146 closed

[2019-05-13 04:46] #147 closed

[2019-05-14 08:31] ShuangLiu1992 opened #151 "feature request: grouped convolution, depthwise convolution"
would it be possible for onnxjs to support grouped convolution or depthwise convolution in the near future? also would be awesome if it supports transposed convolution as well.

[2019-05-15 13:55] ShuangLiu1992 commented on #145
tried #149, can confirm this fixes a couple of issues on samsung devices

[2019-05-15 13:55] #145 closed

[2019-05-15 13:56] ShuangLiu1992 commented on #127
fixed in #149

[2019-05-15 13:56] #127 closed

[2019-05-15 13:56] ShuangLiu1992 commented on #119
fixed in #139

[2019-05-15 13:56] #119 closed

[2019-05-16 09:58] Kirayue commented on #145
Hi, @ShuangLiu1992
could you tell me how to build #149 code to onnx.min.js?
I clone the repo from fs-eire/onnx.js and checkout to android branch, and `npm i` but I got error for `Error: 404 status code downloading tarball https://github.com/fs-eire/onnxjs-node/releases/download/v0.3.0/onnxruntime-linux-x64-node-v57.tar.gz`

[2019-05-16 16:01] fs-eire commented on #145
looks like you are using an older version than Node.js v8.11.2. Could you please try a newer Node.js version?

Node.js NAPI support table: https://nodejs.org/api/n-api.html#n_api_n_api_version_matrix

[2019-05-21 12:11] Insufficient opened #154 ""Invalid inputs detected; op: fc1" - ArcFace/resnet100 warmup"
Hi,

I'm new to ML/JS so forgive me if I have completely missed something. I was faced with "Error: "invalid inputs detected; op: fc1" when trying to warmUp the [ArcFace/resnet100](https://github.com/onnx/models/tree/master/models/face_recognition/ArcFace) model. Upon investigation with lutzroeder's ml model visualizer [netron](https://lutzroeder.github.io/netron/), I found that fc1 is the final o

[2019-05-24 04:41] fs-eire commented on #154
Thanks for the bug report.

It looks like that this model uses non-spatial `BatchNormalization`.

The latest [operator spec](https://github.com/onnx/onnx/blob/master/docs/Operators.md#BatchNormalization) says:

We should either support non-spatial case or explicitly fail on model loading

[2019-06-02 12:12] caillonantoine opened #161 "Conv1d not supported"
It seems like 1-dimensional convolutions doesn't work in onnx js. Given the following network

[code]

exported with the following command

[code]

when trying to run an inference session  with

[code]

the following error is thrown:

`execution-plan.ts:101 Uncaught (in promise) Error: invalid inputs detected; op: unnamed_Conv_0`. This error has been found already in issue #103 , but has only got

[2019-06-03 12:07] Narsil opened #162 "Error on WASM backend enlargeMemory"
When I try to run a model that runs fine on CPU on WASM I get

`LinkError: "import object field 'enlargeMemory' is not a Function"`

When I use gpu (where not all ops are supported) I see that the build enlarges memory progressively until it can fit my model (I guess).

I tried using `-s ASSERTIONS=1` in the EMCC build line but the error remains cryptic to me. Is it that we did not export enlargeM

[2019-06-03 16:49] Narsil commented on #162
Ok answered myself. I was linking to an old .wasm file.....

[2019-06-03 16:49] #162 closed

[2019-06-09 07:53] astu9880 commented on #84
@hariharans29 @NTT123
The following is the link to my onnx model.
https://drive.google.com/open?id=1EVNCW_cNGx2mw2z_aXpGiSdnnElotQ6_
Request you to add functionality in onnx.js for the operators used as I am not able to successfully load the model in the latest version of onnxjs.

[2019-06-09 21:26] vadimkantorov commented on #161
I'm hitting the same issue here. My usecase is porting a speech recognition model that uses a lot of Conv1d ops.

[2019-06-11 19:41] fs-eire commented on #84
@astu9880 I would like to take a look at the model when I got time. The link is 404 now

[2019-06-12 02:32] astu9880 commented on #84
@fs-eire Thanks. I have updated the link.

[2019-06-12 18:40] nicodv opened #163 "Question: can I load models from any arbitrary URL, e.g. from S3?"
I don't see any explicit documentation / examples discussing the use case of loading models from an external source such as S3.

Could I call `session.loadModel(https://s3.amazonaws.com/mybucket/mymodel.onnx)` and expect things to work?

[2019-06-13 14:56] huningxin opened #164 "[Discussion] WebNN backend"
[WebNN](https://webmachinelearning.github.io/webnn/) (Web Neural Network) API is a new proposal that allows to access hardware acceleration (CPU/GPU/AI) for neural networks. WebNN is currently being incubated within W3C Machine Learning for the Web Community Group ([WebML CG](https://www.w3.org/community/webmachinelearning/)).

It is expected that the JavaScript ML frameworks are able to leverage

[2019-06-15 22:21] csaroff commented on #58
FYI, my problem seemed to be that I was loading a model on the frontend with a filepath.  Unfortunately, the frontend doesn't have direct access to the file system.  Reading the file into a buffer on the backend and then sending that buffer to the frontend using ipc solved my problem since `InferenceSession` can accept a buffer in place of a string.  Admittedly, this isn't a great solution.  Ideal

[2019-06-16 05:52] csaroff opened #165 "Error loading onnxjs from webpack"
I've been trying to add onnxjs support in [VoTT](https://github.com/microsoft/VoTT/issues/794), but I've been hitting some issues.  I have a model that I was able to successfully run in node.js, but when I try to run it on the frontend, I get
[code]

I tried [converting the model](https://github.com/onnx/onnx/blob/master/docs/PythonAPIOverview.md#converting-version-of-an-onnx-model-within-default-

[2019-06-19 14:25] eggerjan commented on #91
We have the same issue. Further we need 3D upsampling for image processing, will this be implemented soon?

[2019-06-27 09:13] fs-eire commented on #163
if you are calling the `loadModel()` function in browser, it is actually using the [fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) to get the ONNX model specified by the URL passed in. Fetch API uses [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) so that make sure it is configured correctly.

links -
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
htt

[2019-06-27 09:45] fs-eire commented on #165
`onnxjs-node` cannot work in browser environments. it does not work with `worker-loader` either, as the latter is specifically targeting running in webworker.

supporting `Shape` is a known issue as referenced in #84

[2019-07-01 21:41] nicodv commented on #163
Thanks, that helps.

[2019-07-01 21:41] #163 closed

[2019-07-03 16:25] beccaroskill opened #166 "Uncaught (in promise) TypeError: cannot resolve operator 'BatchNormalization' with opsets: ai.onnx v6"
#### Uncaught (in promise) TypeError: cannot resolve operator 'BatchNormalization' with opsets: ai.onnx v6
    at Object.e.resolveOperator (onnx.min.js:3744)
    at t.resolve (onnx.min.js:6679)
    at e.initializeOps (onnx.min.js:16130)
    at onnx.min.js:16046
    at t.event (onnx.min.js:1283)
    at e.initialize (onnx.min.js:16044)
    at e.<anonymous> (onnx.min.js:16021)
    at onnx.min.js:1595

[2019-07-06 14:37] dnnagy opened #167 "Error loading model: unrecognized input '' for node: unnamed_LSTM_0"
I exported a Pytorch model to ONNX, but I cannot load it on the browser for inference.
Details about my problem:

ONNX version: 1.5.0
Python version: Python 3.6.7 :: Anaconda, Inc.
Browser: Google Chrome 75.0.3770.100
ONNX model: [https://drive.google.com/file/d/16JIuHKmp9vA-CL_6z6l8KjwZ1Qcnf-Jz/view?usp=sharing](https://drive.google.com/file/d/16JIuHKmp9vA-CL_6z6l8KjwZ1Qcnf-Jz/view?usp=sharing)

[2019-07-08 12:44] nitsanp commented on #167
Same problem.

[2019-07-17 06:07] aohan237 opened #168 "onnx model error: int64 is not supported"
i use a model from https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/mask-rcnn mask-rcnn

and load the model in onnxjs

just follow the instructions.

  const model = new onnx.InferenceSession();
  await model.loadModel("./mask_rcnn_R_50_FPN_1x.onnx");

but errors occur, int64 is not supported.

why is that? how to solve it?

[2019-07-22 02:27] mike-holcomb commented on #84
I was running into the same issues with ONNX files based off of fine-tuned torchvision models.  It looks like the heads of the official torchvision models were recently changed in the master branch (https://github.com/pytorch/vision/pull/1134) to remove this call to `size()` in favor of `flatten()` which appears to be supported by onnx.js.

[2019-07-24 09:22] Kjos opened #169 "(When) will Upsample be supported?"
Hi,
I have converted a Pytorch model to ONNX and have tried running it with ONNX.js. However I get an error:

`cannot resolve operator 'Upsample' with opsets: ai.onnx v9`

I have been reading and ONNX has some overhaul in progress for the Upsample operator, however the model exports fine still it seems.

The operator is still missing from ONNX.js though, as is also evident from the supported opera

[2019-07-28 19:57] Kjos commented on #169
Same goes for Resize.

[2019-07-31 00:36] Krutsch commented on #84
This is true, but the onnx Model stills fails with "cannot resolve operator 'Shape' with opsets: ai.onnx v9"

[2019-07-31 14:46] #169 closed

[2019-08-12 22:01] ybrnathan commented on #167
LSTM Op is not supported by ONNX.js yet.

[2019-08-14 12:27] nevenp opened #170 "Next release"
When is the next release of onnx.js scheduled? I am interested in support for more operators (especially Upsample, Shape and Max operators).

[2019-08-26 15:17] dnnagy commented on #167
Is it going to be supported in the future?

[2019-10-02 16:36] buptWebAR commented on #166
Hi, I am facing with the same problem. Could you please provide me with some helpful suggestions? Thanks!

[2019-10-05 10:07] davidpfahler commented on #84
@mike-holcomb Unfortunately, I am still seeing this error when using resnet50 from torchvision 0.4.0

[2019-10-10 15:53] davidpfahler opened #172 "session.loadModel blocking main ui thread"
To illustrate the problem, please see [this pet project](https://github.com/davidpfahler/react-ml-app) I built: If you visit the site and try to click on the expansion panels at the bottom while the "Loading model ..." indicator is spinning, nothing happens, because the ui thread is blocked.

When [I call `session.loadModel`](https://github.com/davidpfahler/react-ml-app/blob/master/src/components/

[2019-10-10 16:26] davidpfahler commented on #172
Turns out, this happens only when in react development mode. In production, everything seems to work fine.

[2019-10-10 16:26] #172 closed

[2019-10-14 02:13] Rishav1 commented on #170
Seems like the development has halted. Is there any other onnx library that supports more recent ONNX Opsets?

[2019-11-17 16:36] svenkreiss opened #174 "iOS13 webgl 2.0 support?"
I am having trouble with https://vita-epfl.github.io/openpifpafwebdemo/ on a new iPhone with iOS 13. It only works when I disable "webgl 2.0" in the advanced settings of Safari.

I cannot reproduce the problem with a desktop browser and I see no error messages when connecting a remote debug console to the mobile Safari.

Is there anything else I can try to get more information about the root of th

[2020-01-08 05:34] yissachar opened #177 "LogSoftmax operator not supported"
I've exported an ONNX model from PyTorch using opset version 7 (the lowest version the PyTorch export supports), and it includes a LogSoftmax operator, which results in the following error when I try to use it in ONNX.js:

[code]
This version of LogSoftmax has been available since version 1 of ONNX so it would be nice to support it.

[2020-01-16 15:09] photopea commented on #94
I also have this problem. I have to run it on the CPU version, as WASM version does not work either.

[2020-01-18 05:52] local-dev-31 commented on #94
Same problem here, can't use the GPU and WASM doesn't support most of [the operators](https://github.com/microsoft/onnxjs/blob/master/docs/operators.md), the inference time drop from 250fps, with onnx on python, to 8fps with the CPU backend in the browser.
Hoping for someone to fix this issue, meanwhile thanks for the great work.

[2020-01-24 20:16] SharanSMenon opened #178 "Uncaught (in promise) Error: Uniform X0 not found."
I trained a PyTorch model on the Caltech 256 dataset and exported it to an onnx format. I try to use onnx.js to make a prediction and I get the following error

[code]

I also got this warning

[code]

Please help.

[2020-01-24 20:45] SharanSMenon commented on #178
I tried changing backend hint to CPU and I get this error.
[code]

[2020-02-04 19:11] elliotwaite opened #179 "Error when using Gather"
When I try to use a graph that uses the Gather operator, I get the error: `Failed to compile shader: ERROR: 0:87: '' : array size must be greater than zero`.

I am not sure if this is an issue with PyTorch or ONNX.js, so I opened an issue with PyTorch as well here: https://github.com/pytorch/pytorch/issues/32956

Does the graph generated by PyTorch look valid?

## To Reproduce

I used the followin

[2020-02-07 05:07] Nitesh8998 opened #180 "resnet50_8.onnx Missing"
The file resnet50_8.onnx seems to be missing or has been relocated to some other place, but the relative changes in index.js have not been made.

[2020-02-07 05:08] #180 closed

[2020-02-10 09:53] SaideepakBejawada opened #181 "Unable to run add.onnx on firefox ubuntu"
I have placed [add.onnx,](https://github.com/Microsoft/onnxjs-demo/tree/data/data/examples/models) [index.html](https://github.com/microsoft/onnxjs/tree/master/examples/browser/add/index.html). [index.js](https://github.com/microsoft/onnxjs/tree/master/examples/browser/add/index.js) in a folder and trying to run add.onnx on the browser using http://localhost:3000/add. But I am unable to run the ad

[2020-02-10 10:36] #181 closed

[2020-02-18 15:08] FrancescoSaverioZuppichini opened #182 "Convert image to tensors"
Dear all,

I would like to ask how to convert an image to a tensor inside the frontend.

Thank you,

Cheers,

Francesco Saverio Zuppichini

[2020-02-21 12:53] albincorreya opened #183 "TypeError: cannot resolve operator 'Reciprocal'"
I was trying to use a tensorflow frozen model for audio/music auto-tagging ([msd-musicnn.pb](https://essentia.upf.edu/models/autotagging/msd/msd-musicnn.pb)) in onnx.js by converting into `onnx` format using `tf2onnx` tool. I used the following command to convert it.

`python3 -m tf2onnx.convert --input msd-musicnn.pb --inputs='model/Placeholder:0' --outputs='model/Sigmoid:0' --output musicnn.onnx

[2020-03-06 16:09] SharanSMenon commented on #170
What happened here?

[2020-03-06 22:31] Yolantele commented on #166
has anyone found the solution?

[2020-03-28 16:07] LeonardoEmili commented on #177
Any chance of this being supported?

[2020-03-30 08:19] sluijs opened #186 "State of ONNX.js development"
Are there any plans to resume development on onnxjs?

[2020-04-10 18:53] qube13 commented on #94
Anybody found a solution for that problem?

[2020-04-10 19:29] photopea commented on #94
Guys, I think Microsoft programmers stopped working on this project, because Microsoft stopped to invest money into it. So I doubt anybody will ever fix it. The sooner we switch to some alternative, the better :/

[2020-04-19 16:06] Whiax commented on #94
Probably. Sadly we don't need much but if they can't even get simple convolutions to work we should probably try tensorflowjs. I removed all strides and used maxpooling instead and it still doesn't work. I wonder how other people managed to have it working.

[2020-05-02 12:35] micah5 opened #189 "What data type does N11onnxruntime11NonOnnxTypeIxEE refer to?"
I am getting the error:
[code]

Looking at the [API docs](https://github.com/microsoft/onnxjs/blob/master/docs/api.md#ref-Tensor), it says there are 4 data types for tensors ('bool' | 'float32' | 'int32' | 'string') however none of them correspond to `N11onnxruntime11NonOnnxTypeIxEE`.

I dug around in the codebase a bit but got lost, any help is appreciated.

[2020-05-02 12:41] micah5 commented on #189
For some further context, here is how I am creating the model in python:
[code]

where x is a pytorch tensor
[code]

and I'm loading it in js as so:
[code]

It fails on `run()`

[2020-05-02 16:59] micah5 commented on #168
Did you find a solution?

[2020-05-06 02:19] aohan237 commented on #168
sorry,no

[2020-05-17 14:32] aryanshridhar opened #190 "Onnx With React Native"
Hi ,
I went on to try Onnx.js with React Native with a Model in Pytorch , But came across a error as :
<pre>
w WebGLBackend 2020-05-17T14:16:49.945Z|Unable to initialize WebGLBackend. ReferenceError: Can't find variable: document
Promise {
  "_40": 0,
  "_51": 3,
  "_55": [Error: session not initialized yet],
  "_65": 2,
  "_72": null,
}
w WebAssembly 2020-05-17T14:16:50.004Z|Unable to initialize

[2020-06-14 06:15] Gra55h0pper commented on #190
Not sure about your code and whether this would help but I think the error you quote generally indicates a returned promise is used directly rather than being `await`ed.

Also, I’m curious to learn about your progress as one of these days I’ll be trying Onnx with react-native also.

[2020-06-19 19:14] waitingkuo commented on #190
Does force it inference on CPU work?
```const session = new InferenceSession(backendHint: 'cpu'});```

[2020-06-22 14:31] SharanSMenon commented on #186
I think its dead

[2020-07-09 23:16] Tylersuard opened #193 "Object detection with custom model?"
Hello.  I was able to download, install, and run the demo on my computer.

When I changed the Yolo model for my own custom yolov5 model, the demo stopped working.  I was unable to pick a backend, and the error message I got was "back end not compatible".

[2020-07-10 19:32] shilsircar opened #194 "Onnx model fails to load in JS but works fine on Python"
I am trying to load this onnx model but received the error below. The model for onnx can be found here:

https://gofile.io/d/li0wmk

const model1 = new onnx.InferenceSession({ backendHint: 'webgl' });
const model2 = new onnx.InferenceSession({ backendHint: 'webgl' });
var output1 = await model1.loadModel("./model_1.onnx");
 var output2 = await model2.loadModel("./model_2.onnx")

graph.ts:313 Uncau

[2020-07-12 15:54] NullVoxPopuli opened #195 "Does ONNX.js have any reinforcement learning algorithms implemented?"
I'm wanting to train a RNN to play a game with non-deterministic outcomes  -- 2048.

To do that, I need a reinforcement learning algorithm, such as qlearn, or sarsa (or others!).

Does ONNX.js have a way to do that? (builtin or otherwise?)

[2020-07-13 17:44] hchintada opened #196 "NSNet Model Conversion to JS"
Can this model be converted to JS?
https://github.com/microsoft/DNS-Challenge/tree/master/NSNet-baseline

I'm asking this because GRU support is not yet there in onnx.js based on this list https://github.com/microsoft/onnxjs/blob/master/docs/operators.md

[2020-07-28 14:02] EmilioOldenziel commented on #193
Hi @Tylersuard,
I also tried this but the YoloV5 ONNX export uses opset version 12 while ONNXjs supports "most operators in ai.onnx operator set v7 (opset v7)". I also tried exporting YoloV5 with opset 7 but that's also not possible.

[2020-08-03 13:54] markstrefford commented on #186
It would be good if Microsoft could confirm either way.

I'm having some issues with converting from TF to TF.js that don't seem evident with Pytorch to ONNX, but ONNX.js doesn't support conv2dtranspose.

[2020-08-03 22:50] fs-eire commented on #186
As a developer of ONNX.js, I would like to share some information of the current state.

Due to various of reasons, the development plan of ONNX.js was deprioritized last year. After one year, I am now able to be back to this project and continue to work on ONNX.js.

ONNX.js is never officially dead, however, it is very difficult to say so when at the same time there is not any commit in the repo

[2020-08-04 09:27] markstrefford commented on #186
Thank you for replying 👍
I’m keen to look into conv2dtranspose. Has any work started on this so far?

[2020-08-04 18:19] joverwey opened #201 "Browser example not working"
The browser/add example is not working. It looks like it is unable to load the add.onnx file even though it is copied to the browser/add directory. I am using the latest version of the Edge browser.

![image](https://user-images.githubusercontent.com/65196281/89329620-e9176980-d643-11ea-8710-843970b1efec.png)

[2020-08-04 20:03] joverwey commented on #201
This was caused by an incorrect model file. I right-clicked on the model file to download it locally instead of cloning the repository. This ended up with an add.onnx model of about 100Kb containing who knows what. The actual file is only 1kb. After getting the correct file, everything works as expected.

[2020-08-04 20:03] #201 closed

[2020-08-04 22:17] joverwey opened #202 "Cast operator not supported"
When trying to run my BERT model, I get the following error:

![image](https://user-images.githubusercontent.com/65196281/89350795-859e3380-d665-11ea-86db-c24f6f1c8ac0.png)

[2020-08-05 21:54] joverwey commented on #202
Actually there seems to be quite a few operators that is not supported. The following operators are required in our BERT model and don't seem to be supported as WASM operators:
    "Cast"
    "Concat"
    "Constant"
    "ConstantOfShape"
    "Erf"
    "Expand"
    "Gather"
    "NonZero"
    "Pow"
    "ReduceMean"
    "ReduceSum"
    "Reshape"
    "Shape"
    "Sqrt"
    "Squeeze"
    "Transpose"

[2020-08-06 18:06] kirill-konshin opened #203 "ConvTranspose operator not supported with opsets: ai.onnx v11"
Please add support of ConvTranspose.

According to table it's not implemented at all:

![image](https://user-images.githubusercontent.com/1530410/89566309-c9fc1180-d7d4-11ea-9848-0d98b904c4e7.png)

It is required in our segmentation model.

[2020-08-10 18:31] fs-eire commented on #166
Close as this issue is out-of-dated. Latest exporter and converters supports opset v7+.

[2020-08-10 18:31] #166 closed

[2020-08-10 18:41] fs-eire commented on #170
A new release will be launched shortly. Please see also for the state of the project at #186

[2020-08-12 08:26] kashikarparth commented on #203
Any workaround possible for fixing this? Facing the same issue.

[2020-08-12 23:09] #151 closed

[2020-08-18 03:48] #117 closed

[2020-08-19 14:09] Qjbtiger commented on #167
I also hope LSTM op can be supported by onnx.js

[2020-08-19 18:40] Manojbhat09 commented on #168
Same issue, where might it be going wrong.

[2020-08-20 20:02] Manojbhat09 opened #212 "Torch scatter"
torch.scatter requires int64 (LongTensor) for indexing. Any workaround over this?
https://pytorch.org/docs/stable/tensors.html?highlight=scatter#torch.Tensor.scatter_

Even the package pytorch_scatter requires 64bit int.

What can be done?

[2020-08-25 04:24] Manojbhat09 opened #215 "Cannot debug on vscode"
As followed in the development.md I install vscode, and all the dependencies.
When I run npm test --debug on a separate terminal, in browser click on debug and go to vscode to run debugger "Attach to chrome" I get this error after a while. And in that cmd, the tests go on and stop once done.

![image](https://user-images.githubusercontent.com/12574642/91122702-f505b280-e668-11ea-9d2b-c4305acf739d.

[2020-08-25 06:11] Manojbhat09 opened #216 "How to get the pb files"
![image](https://user-images.githubusercontent.com/12574642/91129588-41a4ba00-e678-11ea-8ca0-c922568b4e5c.png)

I am not sure how to achieve this file. Please guide.

[2020-08-25 20:30] Manojbhat09 commented on #216
Its tensorflow based so create a pb file of inputs and outputs using tensorflow.

[2020-08-26 10:21] Manojbhat09 opened #217 "Op?"
Why is constantofshape not supported? I assume there is no problem in shape-inference ?
Can you please clarify @fs-eire

[2020-08-27 07:21] azuredsky commented on #161
Does this issue  Conv1d not supported solved?

[2020-08-28 02:06] 28Smiles opened #218 "Suggestion: Mixed Backend"
Since some backends seem not to implement all operations the other do, it would be nice to fallback to an operator from another backend. This would enable support for more models and enable all models to use webgpu with fallbacks resulting in better performance than cpu with more compatibillity.

[2020-08-28 06:54] #216 closed

[2020-08-28 06:54] Manojbhat09 commented on #215
Ping @fs-eire !

[2020-08-28 06:55] Manojbhat09 commented on #212
No workaround, browser cannot support for int64 as not all cpus support.

[2020-08-28 06:55] #212 closed

[2020-08-28 06:56] Manojbhat09 commented on #203
I used Conv with padding instead haha.
Its easier to implement actually.

[2020-08-28 06:57] Manojbhat09 commented on #202
Cast is supported on the recent PR!

[2020-08-28 06:59] #217 closed

[2020-08-28 07:00] Manojbhat09 opened #219 "How to contribute to Webgl ops?"
Please provide a short guide on how to write ops.

[2020-09-02 00:28] fs-eire commented on #215
there is a trick: you need to put all parameters of test runner after a double dash, like this:
`npm test -- --debug`

this is because npm parses and removes all parameters before the first `--`

`npm {npm param0} {npm param1} {npm param2} ... -- {param0} {param1} {param2} ...`

[2020-09-02 00:46] fs-eire commented on #219
[This commit](https://github.com/microsoft/onnxjs/commit/0432a35eaa10d9ba19322818eb81ac5d412b1ef1) is a good example of adding implementation for a operator on one or more backends.

A rough instruction -

1. add a new file (if it doesn't exist) under `lib/ops/` for the operator, implement an abstract class derived from `Operator` with member function `initialize`, `checkInputs` and `checkInputTyp

[2020-09-02 01:09] Manojbhat09 commented on #219
Hi, @fs-eire  Thanks for your response.
I wanted to know how to do tests. There are .pd files I guess generated from TensorFlow.
I was wondering if we can generate the same from Pytorch?
How would that look like?

[2020-09-02 04:04] Manojbhat09 commented on #215
Thanks!

[2020-09-08 21:25] #170 closed

[2020-09-09 03:11] hgarrereyn opened #229 "Conv3d not supported"
I'm trying to export a pytorch model that uses Conv3d layers for in-browser inference with onnx.js. Here is an example model:

[code]

Exported via:

[code]

In the browser:

[code]

This fails with:

[code]

If I change `Conv3d` to `Conv2d` and change the tensor dimensions to `[1,2,8,8]` everything works fine. Additionally, the conv3d onnx model works fine in the python onnx runtime so I think th

[2020-09-11 20:33] 28Smiles commented on #190
I myself experimented with a simmilar usecase, I tryed to run onnxjs with cpu inference as a webworker. I replaced occurences of `document` with `self`. It may work in your case aswell.

[2020-09-11 20:40] 28Smiles commented on #165
The operator `Shape` is now available in version 0.1.8.

[2020-09-11 20:43] 28Smiles commented on #168
Javascript has no `int64` type. You can cast your model to `int32`.

[2020-09-15 09:43] afg1 opened #230 "onnxjs support for torchvision FCN models"
I've exported a pretrained resnet101-FCN from pytorch using the following:

[code]

And tried to import it in onnxjs with this:

[code]

However, I get the following error when the model tries to load:

```Uncaught (in promise) TypeError: cannot resolve operator 'Shape' with opsets: ai.onnx v11```

Obviously this is related to the Shape operator.

- What exactly is the issue?
- I saw that Shape wa

[2020-09-15 18:20] eric-lazarus commented on #58
I'm running into the same error after passing an array buffer and Uint8Array to the loadModel method.

[code]

[2020-09-15 18:21] eric-lazarus commented on #58
I'm running into the same error after passing an array buffer and Uint8Array to the the loadModel method:

[code]

[2020-09-17 18:55] satyajitghana commented on #217
Hey, did you fix this ?
[code]

[2020-10-07 07:24] snakers4 opened #233 "Feature Request - Dealing with int64 in the exported ONNX model"
Hi,

## Background

We are trying to run models from [silero-models](https://github.com/snakers4/silero-models) via onnx.js.
We have had various issues with ONNX export, but most of them finally were resolved using built-in messages and just testing using `onnxruntime` (we had to heavily simplify some model parts).

## Model Export

**The models were ported as follows:**

1. Original model in PyTo

[2020-10-08 06:05] snakers4 opened #234 "Feature request - Conv1D and Slicing"
- Conv1D does not work without manual monkey patching now
- Slice is poorly supported now - it is important now because of transformers

[2020-10-13 20:02] saurabhtangri opened #235 "when is int8/opset 11 support expected?"
when is int8/opset 11 support expected?

[2020-10-21 03:37] kbrose commented on #165
I still see this error using version 0.1.8.

[2020-10-21 03:40] kbrose commented on #165
The [shape.ts](https://github.com/microsoft/onnxjs/blob/master/lib/ops/shape.ts) file hit the master branch on Sep 1 but 0.1.8 was released on August 28, so maybe it just missed the cut to make it into 0.1.8?

[2020-10-23 20:44] JonathanSum opened #236 "How do I normalize the image in javascript? For imagenet, its has its std and mean..."
So...how do I normalize the image?

[2020-10-23 23:16] JonathanSum opened #237 "How do we convert 4 channel png to jpg?"

[2020-10-23 23:17] #236 closed

[2020-10-24 00:01] JonathanSum opened #238 "Question on load image function in load image.py"
loadImageCb(url, cb) {
    loadImage(
      url,
      img => {
        if (img.type === 'error') {
          throw `Could not load image: ${url}`;
        } else {
          // load image data onto input canvas
          this.ctx.drawImage(img, 0, 0)
          //console.log(`image was loaded`);
          window.setTimeout(() => { cb(); }, 0);
        }
      },

Where is the loadImage come from?

[2020-10-26 05:12] JonathanSum commented on #58
I think we should give a solution.

[2020-10-26 05:59] JonathanSum commented on #165
![image](https://user-images.githubusercontent.com/21982975/97138535-ae3e4280-1715-11eb-8302-962fd2ef9074.png)
Mine is 0.1.8 too!

[2020-10-26 08:44] KnurpsBram commented on #233
I too would love to see int64 supported in onnx.js. It would make exporting a PyTorch model and running it in JS much more straightforward. I had originally posted a question on pytorch-to-onnx conversion on the PyTorch forum:
https://discuss.pytorch.org/t/pytorch-onnx-javascript-model-with-reflectionpad-and-convtranspose/98417

[2020-10-26 18:51] 28Smiles commented on #165
What backend are u using?

[2020-10-27 08:29] JonathanSum commented on #165
28Smiles. The shape does not work on Fastai's flatten.
After changing it to Pytorch's official one. Now it has another issue.:
![image](https://user-images.githubusercontent.com/21982975/97275946-d0a68d80-17f3-11eb-98a1-3ebaaee9f54b.png)

[2020-10-27 09:09] JonathanSum commented on #165
It was all backend failed. The problem is solved.

[2020-10-27 16:30] 28Smiles commented on #165
I do not understand your message, but good thing if it works.

[2020-11-04 07:42] Andredance commented on #165
Hi, I am using backendHint="cpu" with onnxjs 0.1.8 but got the same error
[code]

@JonathanSum how did you solve the problem?
@28Smiles maybe any advices how to solve it?

[2020-11-06 15:47] 28Smiles commented on #165
@Andredance Classical debugging I guess. Set a breakpoint, look at the variables, try to resolve why it is not picking up the Shape operator.

[2020-11-06 17:49] kbrose commented on #165
Repeating what I said above, the Shape operation was added _after_ the latest version (v0.1.8) was released. **We won't be able to use the Shape operation until a new version is released.**

You can verify this by downloading the [snapshot of the code for the release](https://github.com/microsoft/onnxjs/releases/tag/v0.1.8) and see that it does not contain the file `lib/ops/Shape.ts`

[2020-11-07 06:03] akashpalrecha commented on #190
@28Smiles did you finally get it to work?

[2020-11-07 15:06] 28Smiles commented on #190
@akashpalrecha It always worked for me and I described how:

[2020-11-07 15:10] 28Smiles commented on #237
This is not the purpose of this library. It can be done with a canvas.

[2020-11-07 15:12] 28Smiles commented on #238
Its provided by `ndarray`

[2020-11-07 19:30] 28Smiles commented on #235
javascript has no int8 types, the only use for int8 in onnxjs would be to reduce the size of the models parameters (quantisation) or with the wasm simd instructions to increase throughput.
I once implemented the quantize linear op and tested it. It seemed to work, but my model was not compatible, i could search for it and start a pull request tho.

[2020-11-10 13:38] #238 closed

[2020-11-11 07:06] shiragit opened #239 "Uncaught (in promise) TypeError: cannot resolve operator 'MaxPool' with opsets: ai.onnx v11"
Hi,

I've exported a torch model to onnx with op_set=11.
When tried to load with onnx.js I got the following error:

`Uncaught (in promise) TypeError: cannot resolve operator 'MaxPool' with opsets: ai.onnx v11`

![Screenshot from 2020-11-10 14-26-41](https://user-images.githubusercontent.com/42112594/98779630-dc51a100-23fc-11eb-9a22-00043dda7a67.png)

MaxPool is a supported operator according to t

[2020-11-11 07:59] waittim commented on #168
Is it means quantization?

[2020-11-11 09:19] waittim opened #240 "Unsupported operators 'DynamicQuantizeLinear'"
at Object.e.resolveOperator (opset.ts:48)
    at t.resolve (session-handler.ts:60)
    at e.initializeOps (session.ts:235)
    at session.ts:92
    at t.event (instrument.ts:294)
    at e.initialize (session.ts:81)
    at e.<anonymous> (session.ts:63)
    at onnx.min.js:14
    at Object.next (onnx.min.js:14)
    at a (onnx.min.js:14)

The onnx model quantized from [**onnxruntime.quantization.quant

[2020-11-14 02:35] 28Smiles commented on #168
Where is your model using the int64?
U can use a tool like [netron](https://github.com/lutzroeder/netron) to look at the graph and check for the corresponding nodes.

[2020-11-14 03:00] waittim commented on #168
The ONNX model used int64 in every CONV layer.
![image](https://user-images.githubusercontent.com/34759452/99137965-3029d900-25fb-11eb-9de6-43af495aa656.png)
But in the original cfg file, they are int32.
![image](https://user-images.githubusercontent.com/34759452/99138012-a4647c80-25fb-11eb-8910-fd048f488333.png)
The int64 comes from the process of Darknet to ONNX.

[2020-11-14 03:39] 28Smiles commented on #168
this, can not be the Problem, the parameters you show are always i64 and work for my model too, since they are just node configuration.
![image](https://user-images.githubusercontent.com/9430219/99138767-494e7c00-2633-11eb-83e6-df2ea2b03d90.png)

You should search for in graph usage. Some input or output of type i64

[2020-11-14 04:06] waittim commented on #168
Thank you!
I checked it again. The input of Rang, Reshape, Slide, Concat and Mul are INT64 based.
![image](https://user-images.githubusercontent.com/34759452/99139152-57d16f00-2604-11eb-884a-2ed25acf956c.png)
![image](https://user-images.githubusercontent.com/34759452/99139160-6cae0280-2604-11eb-90a0-90bcf0f26be9.png)
![image](https://user-images.githubusercontent.com/34759452/99139173-8bac9480-26

[2020-11-14 04:19] 28Smiles commented on #168
I had similar issues with my graphs. The way I went for was using the [winmltools](https://docs.microsoft.com/en-us/windows/ai/windows-ml/convert-model-winmltools) for loading the graph into memory. Afterwards i edit the graph in python. I know there is near to no documentation on this. I used a debugger to analyse the object. You can try it like this, I guess...

[2020-11-14 05:17] waittim commented on #168
Would you mind talking about some of the details? Like what's the function to check the nodes and change its data type. The introduction on the WinMLtools official website didn't talk about it.
The only function I found is
[code]
I'm feeling like I lost the direction......

[2020-11-14 14:58] 28Smiles commented on #168
For example my pytorch export was exporting the graph with -1 as dimenstion of expand. I've wrote a function to replace the -1 with the fixed graph dimensions:
[code]

[2020-11-14 14:59] 28Smiles commented on #168
here is a script to compress the graphs names, saves a few kb on large models. Still working on quantisation, but had not the time to do so right now.
[code]

[2020-11-14 15:02] 28Smiles commented on #168
We really need a (better) library for this in the onnx ecosystem. Working with and fixing graphs is tedious this way.

[2020-11-15 16:50] DrhF opened #241 "TypeError: cannot resolve operator 'Min' with opsets: ai.onnx v12"
Hello!
I'm running an app on React, with onnxjs v0.1.8. I have a tf.keras model converted to onnx v12.

When I'm running predictions, I have an error in log:

[code]

Model architecture:
[code]

While converting a model using onnxmltools, I got a warning:
[code]

Got no errors while running pure mobilenetv2_1.00_224 onnx model in js app.

Could you help me, please, with this error, at least the or

[2020-11-16 23:01] waittim commented on #168
@28Smiles I do find a way to remove the old node/initializer and insert the new one. However, the new problem is onnx Operator **[ConstantOfShape](https://github.com/onnx/onnx/blob/master/docs/Operators.md#ConstantOfShape)** doesn't support INT32 as its input. So when I'm using onnxruntime to test the model, it tells me that `InvalidGraph: [ONNXRuntimeError] : 10 : INVALID_GRAPH : Load model from

[2020-11-16 23:07] 28Smiles commented on #168
Is this an onnx.js error? Why do you need a variable shape?

[2020-11-16 23:20] waittim commented on #168
It's an error in Python actually. I just modified the node based on the original model and test it in Python onnxruntime before using it in onnx.js. Could it be handled in onnx.js?;
Actually, for using in onnx.js, there is another error that happened before dealing with ConstantOfShape:
[code]
In the [document](https://github.com/microsoft/onnxjs/blob/master/docs/operators.md) of onnx.js, it is sa

[2020-11-16 23:38] 28Smiles commented on #168
yes, but its unreleased, you have to build the master

[2020-11-17 02:48] waittim commented on #168
Just to confirm, will ConstantOfShape be supported in the new version? Thank you!

[2020-11-17 02:50] 28Smiles commented on #168
Only the Shape operator

[2020-11-19 21:50] geringer opened #242 "help with preprocessing transforms"
Can someone write up a simple guide me how to run an actual image that needs to be

take and image from file ( or even better webcam )

- resized
- center cropped
- rotated/tilted
- converted to tensor/ndarray or whatever onnx.js needs
- normalized

and fed into a resnet 50

[2020-11-20 02:25] #237 closed

[2020-11-26 04:50] vpukhanov commented on #241
The `Min` operator is not currently supported by onnx.js unfortunately 😿 https://github.com/microsoft/onnxjs/blob/master/docs/operators.md

[2020-12-03 19:01] tngan commented on #182
@FrancescaLazzeri It maybe a late reply, you can use the image loader or create a canvas element yourself, but I am trying to do that in Node.js backend right now.

See the implementation [here](https://github.com/microsoft/onnxjs/blob/master/examples/browser/common/image-loader.js).

[2020-12-05 08:55] FrancescoSaverioZuppichini commented on #182
Hi @tngan thank you! I also see that, if you are using PyTorch, you can now create a data preprocessing pipeline (with torchvision.transform) and export it to oonx!

[2020-12-05 08:55] #182 closed

[2020-12-05 09:23] tngan commented on #182
@FrancescoSaverioZuppichini Yes, I have another application using PyTorch to do the export and inference. I do think we don't need torch to do the inference and torch has a rather larger size in bundle. Actually, the ONNX export script is also included in the YOLOv5 repository now.

[2020-12-07 00:26] dsuess commented on #229
I would also love to see 3D ops supported by ONNX.js

[2020-12-07 02:21] yuto51942 opened #243 "error TS2304: Cannot find name 'Platform'."
Hello.

I got this error when I cloned this repository and did the build.

[code]

After detailed verification, it seems that this error occurs when installing @types/platform version 1.3.3.
Specifying the version of @types/platform to 1.3.2 in package.json would solve the problem, but I don't think this is a good idea. Is there any way to do this?

[Changes in @types/platform(1.3.3)](https://gith

[2020-12-08 03:26] hgarrereyn commented on #229
For anyone stumbling on this issue, the current workaround I'm using is converting from PyTorch to ONNX to Tensorflow Frozen model to TensorFlow web. Then I can use tensorflow.js to run inference in a browser. It's not elegant but it works.

[2020-12-15 14:29] EJShim commented on #165
Can this be solved or not?

I am having same error using below code, which worked fine in ```onnxruntime``` python and CPP.
[code]

I built onnxjs using master branch of this repository, but still getting same error.

[2020-12-18 07:00] dhirajnitk opened #247 "How to fetch emscripten built onnxruntime.a"
I am building c++ library that uses onnx runtime as library
Do we have any script to build emscripten  for onnx runtime. I built this codebase from source. It created wasm/js  files but I cant link them to c++ library as It would need  onnxruntime.a.

@hariharans29

[2020-12-18 08:43] hariharans29 commented on #247
This project is quite different from onnxruntime.
Answered your question here - https://github.com/microsoft/onnxruntime/issues/6160#issuecomment-747911107

[2020-12-18 08:43] #247 closed

[2020-12-20 08:27] dhirajnitk commented on #247
Any help on building emscripten for onnxruntime will be deeply appreciated.

[2020-12-20 14:13] FahriBilici opened #248 "detectron2 onnx model "current backend is not supported""
Hello, I trained detectron2 for object detection with my dataset. I exported the model in onnx format. I downloaded onnx.js demo from Github and replaced yolo model path with my custom detectron2 onnx model path. But it gives me a"current backend is not supported" error. How can I fix that?

[2020-12-25 17:26] dhirajnitk opened #249 "zipMap support not working on onnx.js ?"
I have used sklearn-onnx to convert sklearn pipeline into onnx model

[code]

[2020-12-27 12:54] dhirajnitk commented on #165
`Uncaught (in promise) TypeError: cannot resolve operator 'SVMClassifier' with opsets: ai.onnx v9, ai.onnx.ml v`

Built onnxjs with master branch & it seems that SVMClassifieris not supported ops?

[2020-12-27 12:59] dhirajnitk commented on #249
if your model is built via sklearn-onnx  then  you can remove zipMap
 http://onnx.ai/sklearn-onnx/auto_examples/plot_convert_zipmap.html

[2020-12-27 12:59] #249 closed

[2020-12-27 16:02] FahriBilici opened #250 "Error: invalid name for initializer: 1059"
Hello, I trained custom tiny yolov4 model and convert it into onnx model. I cloned the demo from GitHub and replace yolo model with my model. But when I run the application it gives me Error: invalid name for initializer: 1059. How can I fix that?

[2020-12-27 23:57] kleinicke opened #251 "Bad error message"
The onnx model doesn't seem to load properly, but the error message doesn't help.

[code]

And the error message is

Since it doesn't matter which path I put into the loadModel, it seems like this is the error message for not being able to load the model? Could this be replaced by something more expressive?

[2020-12-28 03:38] htfy96 commented on #239
I believe op_set=10 doesn't work either because https://github.com/microsoft/onnxjs/blob/a183fa62188adad63a2983322672617c42a0ce55/lib/backends/webgl/op-resolve-rules.ts#L70 says that only 1-9 are supported.

[2020-12-28 04:51] AiueoABC commented on #165
I also have same issue saying "Uncaught (in promise) TypeError: cannot resolve operator 'Shape' with opsets: ai.onnx v9".
Should I modify a model I using not to pass "shape" things???

[2020-12-28 06:52] JonathanSum commented on #165
Mine is solved. Not very difficult to solve. The problem is related to ONNX and JIT.

[2020-12-28 08:53] dhirajnitk commented on #165
@JonathanSum
Congratulations.
Is there any  ported  SVMClassifier ops that can be easily integrated with wasm_ops

[2020-12-31 02:41] kleinicke commented on #168
Just wasted 6 hours with this problem. Can someone please fix this?
I have a model that has some ConstantOfShapes in 64 bit format. It didn't change even through I set the inputs in the model to np.int32.
I tried to set the values in the model manually on 32 bit, but I was only able to change the ConstantOfShape Attributes. Not the Inputs and not the values in the next layers that expect 64 bit.

[2020-12-31 07:26] waittim commented on #168
I am sorry to tell you that the ConstantOfShapes node requires int64. I set all of the values to be int32 before, and it becomes invalid.
At the end of the story, I choose to try another approach instead of onnjs.

[2021-01-04 09:48] AiueoABC commented on #84
I thought I can just skip "Shape" layer if that value is constant, and managed to avoid getting error "TypeError: unrecognized operator 'Shape'".
But this fails when I try to load for inference.

For this reproduction, I put what I did;
[code]
The model I got here never works on both onnxruntime and onnxjs.
Is there anyone who can help me with this?

[2021-01-04 19:40] saurabhtangri opened #255 "Issues with LSTM"
Any plans to add support for LSTM based models?

[2021-01-18 18:12] 10dimensions opened #260 "Convert Output Tensor to Image/Canvas"
I've a onnx model which predicts depth-image as a tensor.
Any suggestions on how I can convert the tensor to an image/canvas ?

I tried looking up ndarray library, but couldn't find this particular api...

[2021-02-02 15:56] leonardts commented on #239
@shiragit have you found a solution?

[2021-02-09 06:32] EJShim opened #263 "Support "TopK" and "ConvTranspose" operators"
Could you update "TopK" and "ConvTranspose" operator?

or is there any alternative method for ``torch.topk`` operator that I can use?

[2021-02-18 11:32] kirill-konshin opened #264 "cannot resolve operator 'ConvTranspose' with opsets: ai.onnx v7"
Any plans on implementing this operator? Looks like there's no support for it https://github.com/microsoft/onnxjs/blob/master/docs/operators.md

[2021-02-19 16:09] weingaunity opened #265 "Cannot resolve operator "Shape" with opset: ai.onnx v9"
Hi, i try to load a onnx model of mobilenet v3 which i have exportet with pytorch.

When i try to load the model in the browser using [](https://cdn.jsdelivr.net/npm/onnxjs@0.1.8/dist/onnx.min.js) following exception is thrown:
[code]

According to the documentation it should be supported starting from version 1+.

Which backend is used by onnx.min.js?

Here the onnx creation process:

[](https://

[2021-02-20 13:35] iiSeymour opened #267 "TypeError: cannot resolve operator 'LogSoftmax' with opsets: ai.onnx v9"
Great project - many of the models I'm interested in have a final `LogSoftmax` layer which I see is not yet supported.

<img src="https://render.githubusercontent.com/render/math?math=\text{LogSoftmax}(x_{i}) = \log{\frac{\exp(x_i)}{\sum_j \exp(x_j)}}">

However, the principal components `{Log, Sum, Exp}` are implemented so is there a mechanism where I can provide my own implementation?

[2021-02-24 07:00] weingaunity opened #268 "webgl seems not to work (or be used)"
Hi,

i'm using onnx.js V0.1.8 from [](https://www.jsdelivr.com/package/npm/onnxjs?path=dist) to run mobilenetv2 exported from pytorch. But i had to do some modifications because of unsupported operators created due to an adapative average pooling2d (see #265). But now it works and create the same output compared to pytorch when using the same image.

New issue: webgl seems not to work.
A tensorflo

[2021-02-24 18:11] weingaunity commented on #268
When using webgl i get following warnings, but as mentioned no speed improvement compared to cpu.

WebGL warning: drawArraysInstanced: Using format enabled by implicitly enabled extension: EXT_float_blend. For maximal portability enable it explicitly. 31 webgl-context.ts:191:12
WebGL: No further warnings will be reported for this WebGL context. (already reported 32 warnings)

[2021-03-14 14:48] 31b41a59l26u53 commented on #265
Similar here. Why is this not in the WebGl operator set?

[2021-03-15 18:40] weingaunity commented on #265
Despite the fact, that in my case webgl seems not to work, i worked around the missing shape function issue by changing the network structure.

But at the end i used tensorflow to inference. So i converted the onnx model to a tensorflow model and exported to tensorflow.js. This works very well and supports webgl.

[2021-03-24 07:44] isNeil commented on #240
Did you ever resolve this? I'm facing the same problem, even had the same idea to try quantizing

[2021-03-25 03:36] waittim commented on #240
I just moved to another approach.

[2021-03-28 14:08] bayartsogt-ya opened #278 "cannot resolve operator 'Pow' with opsets: ai.onnx v9"
I tried to load mobilenet_v2 model (pretrained and exported on PyTorch) in ReactJS using script below:
[code]
and faced following error:
[code]

Judging from [Operator.md](https://github.com/microsoft/onnxjs/blob/master/docs/operators.md ), [Pow](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Pow) is supported.

Honestly, I have no idea even what this output message is about...

How ca

[2021-04-01 22:55] mbforbes opened #282 "add example: RangeError: index out of range: 128 + 1 > 128"
Hi there!

I'm attempting to run the browser/add example — the first one linked from the readme:
https://github.com/microsoft/onnxjs/tree/master/examples/browser/add

So I combined
https://github.com/microsoft/onnxjs/blob/master/examples/browser/add/index.js

with the linked `add.onnx` model (from the onnxjs-demo repo):
https://github.com/Microsoft/onnxjs-demo/tree/data/data/examples/models

but w

[2021-04-02 02:27] sontr-n commented on #239
has anyone resolved this?

[2021-04-07 06:53] mickeygo commented on #168
@waittim which approach you choose ?

[2021-04-08 12:59] AdarshJais commented on #190
Any more updates on this? @28Smiles Could you share some more resource or a complete executing code for native.

[2021-04-08 13:26] 28Smiles commented on #190
@AdarshJais I myself, dont use react native. But I use onnx.js as webworker for my website. In my case it was enough to replace occurences of `document` with `self` using `Ctrl + F` in the `onnx.min.js`.

[2021-04-12 09:52] AdarshJais commented on #190
@28Smiles Could you please explain what you mean by "replace occurences of document with self using Ctrl + F in the onnx.min.js" What is onnx.min.js here ?

[2021-04-12 09:54] AdarshJais commented on #190
![image](https://user-images.githubusercontent.com/40723757/114376121-f73e6200-9ba2-11eb-99e0-d177197468e5.png)

Here is what I am trying to do but I am getting error "[Unhandled promise rejection: TypeError: Network request failed]" while loading the model

[2021-04-17 01:20] 28Smiles commented on #190
This seems like an stack overflow question to me, since it is not library realted

[2021-04-19 12:53] smilemakc commented on #265
You need replace code in places such as `x.view(x.size(0), -1)` on explicit value instead of `x.size(0)`

[2021-04-19 20:46] smilemakc commented on #268
@weingaunity you are running on MacBook?

[2021-04-20 05:54] weingaunity commented on #268
No, i'm using a Laptop with Linux. My solution was now converting the ONNX file to a tensorflow.js based on [this](https://thenewstack.io/tutorial-import-an-onnx-model-into-tensorflow-for-inference/) i'm using now following lines:

[code]

[code]

[2021-04-21 14:25] remixer-dec commented on #278
You're using export version 9, but the README says

Export your model with ```opset_version=7``` and it'll work just fine.

As I understand, it was [merged](https://github.com/microsoft/onnxjs/pull/214) on 2 Sep 2020 and the latest stable version was released on 28 Aug 2020. So you can clone the repo and build it yourself... however looks like there are currently some emsdk compatibility issues wi

[2021-04-26 04:13] Sxela commented on #250
I've tried exportig model with these keyword arguments:
[code]
and it helped

[2021-04-30 17:46] jlooper opened #292 "Scikit-Learn to Onnx to Onnx.js problems"
hello, I'm looking for documentation on supported models that we can use when leveraging Scikit-Learn. I can convert a Scikit-Learn model to .onnx (using this package: https://onnx.ai/sklearn-onnx/) but I have problems using that model in a web app using onnx.js as some operators are not supported or need particular backend implementation.

Is there documentation around what kind of scikit-learn m

[2021-05-01 11:38] sseun43 commented on #292
Even linear regression desnt work

[2021-05-01 18:18] codingdudecom commented on #165
what the heck guys, "I solved this" then no more details, or "Here's 2 solutions: one, I don't know if it works, and second one is talk the ONNX coder"

I was hoping for an actual solution to this...

[2021-05-06 19:33] WillAvudim opened #295 "Support for SELU"
Hi,

I'd like to request to add a support for the Selu activation function, which is listed at ONNX as supported from versions 6th and 1st (https://github.com/onnx/onnx/blob/master/docs/Operators.md) and it's also currently supported by both pytorch/ONNX and tensorflow/ONNX.

Thank you,
Will

[2021-05-12 20:13] hanbitmyths commented on #292
Onnx.js supports onnx opset v7 and it's way behind of the current onnx version, so we decided to leverage onnxruntime as WebAssembly backend and started new project, [onnxruntime web](https://github.com/microsoft/onnxruntime/tree/master/js#onnxruntime-web). We plan to release the first version at Jun 1st along with onnxruntime 1.8 official release, but you can try [a dev version](https://www.npmjs

[2021-05-12 20:56] hanbitmyths commented on #292
Onnx.js supports onnx opset v7 and it's way behind of the current onnx version. To resolve this issue, we decided to leverage onnxruntime as WebAssembly backend and started new project called [onnxruntime web](https://github.com/microsoft/onnxruntime/tree/master/js/web). We plan to release the official version at 6/1 along with onnxruntime 1.8 official release. Before that, you can try a [dev npm

[2021-05-13 13:34] jlooper commented on #292
hi @hanbitmyths and thank you! I'm testing the onnxruntime for the web, and consistently get this error: 'Uncaught (in promise) Error: input '0' is missing in 'feeds'.' - can you shed some light here? thanks!

[2021-05-18 23:15] fs-eire commented on #292
this error looks like the feeds passed to `InferenceSession.run()` does not contains key "0", which is the name of model's one input.

[2021-05-19 01:50] jlooper commented on #292
aha! I see the issue, thank you, I am making progress now!

[2021-05-21 06:55] smstojanovic opened #297 "Chrome Extension Manifest V3 and onnx.js"
I'm trying to load the onnx.js library in a Chrome extension with Manifest V3 in a service worker.

I'm attempting to import it via:
[code]

with the following error printed out:
[code]

Since there's no DOM access in a service worker, the window variable does not exist and therefore it doesn't look like onnx.js is going to work for the time being.

[2021-05-21 20:11] J3698 opened #298 "Adding TopK: docs/operators.md pre-commit hook failed"
I would like to add TopK at least for CPU. Unfortunately, I am getting the following error upon committing:

[code]

It looks like that file is autogenerated, should I just bypass that hook? Thanks!

[2021-05-21 20:28] xzhu1900 commented on #298
Hi J3698,

Yes, operators.md is autogenerated. When a new change is made to the operator set, we need to also update this file. You can try adding that file and committing again. That should be able to resolve this error.

[2021-05-22 10:56] braindotai commented on #165
This is not necessarily a webpack issue (as far as I know)... there are multiple reasons why this error might occur. The most common reason is using really custom reshaping operation in your PyTorch's model definition in python... like `x.view(-1, x.size(0))`, or `x.reshape(x.shape[0], ...)` ....

What solved the issue for me is by making sure that your python code is saying explicit numbers (1, 2

[2021-05-22 17:35] J3698 commented on #298
Thanks, that worked! I didn't realize it would require two commits. I'm wondering, would it be useful for me to add a message on failure that you can try again? Then new contributors like myself will know that something changed.

[2021-05-22 17:47] J3698 opened #299 "TopK-1 CPU unittests"
I am almost done implementing TopK-1 and am passing the op tests I wrote. However it takes quite a while to write the unit tests, and I feel even if I spent another hour writing tests, I could be missing something.

So I'm thinking I should also write some additional randomized test cases in the folder unittest/cpu (which does not exist). I think this would be more exhaustive and take less time to

[2021-05-26 04:59] J3698 commented on #255
I am interested in adding LSTM support for CPU. I do wonder, what would be the best version to support? Perhaps7+? It seems for another operator if I did not implement at least something for 7, tests fails.

[2021-05-28 07:54] hamster3d opened #301 "Fully convolutional network - cannot reuse inference session with different input shape"
I have a fully convolutional network with variable input shape, namely `(None, None, None, 3)`
After the first inference (with the shape `[1,116,32,3]`), when I try to provide input with different shape I got a shape validation error:
```Uncaught (in promise) Error: input tensor[1] check failed: expected shape '[1,116,32,3]' but got [1,205,40,3]```

This error doesn't appear if all the consequent

[2021-05-28 19:36] maxbos commented on #240
I'm having the same problem at the moment. What approach did you end up using instead?

[2021-05-30 19:56] dewball345 opened #302 "attribute.ts:122 Uncaught (in promise) Error: graph attribute is not supported yet"
Hello There,

I recently did transfer-learning on efficientdet and I wanted to convert it into javascript using onnx.js. It worked wonderfully in python, but it failed to work in javascript.

I got the error, `attribute.ts:122 Uncaught (in promise) Error: graph attribute is not supported yet`, and I'm really not sure what that means and how to fix it.

This was my process:

[HERE](https://colab.re

[2021-06-05 08:09] JonathanSum commented on #292
@hanbitmyths
is it going to support Pytorch too? For example, it will support all the functions of Pytorch and its custom functions?

[2021-06-08 18:11] serg06 commented on #233
Still praying for this.

Why does it have to be so hard to type cast some weights from int64 to int32?

[2021-06-11 02:43] jlooper commented on #292
@hanbitmyths I'm working to import the npm web package for use in a Vue.js app: https://github.com/jlooper/onnx-apps/tree/main/recipe-guesser - and still getting errors when trying to import a random forest model: ort-web.min.js?f1d4:6 Uncaught (in promise) TypeError: cannot resolve operator 'TreeEnsembleClassifier' with opsets: ai.onnx.ml v1 - this is puzzling!

[2021-06-11 17:15] fs-eire commented on #292
it looks like you try to load the model with 'webgl' backend, which does not support operators from 'ai.onnx.ml'. 'wasm' backend should work for the model.

[2021-06-11 19:05] jlooper commented on #292
@fs-eire thank you for looking - I added `, {
      executionProviders: ["wasm"],
    }`
new error is:

"Uncaught (in promise) Error: no available backend found. ERR: [wasm] RuntimeError: abort(CompileError: WebAssembly.instantiate(): expected magic word 00 61 73 6d, found 3c 21 44 4f @+0). Build with -s ASSERTIONS=1 for more info."

Does this onnxruntime-web npm package which I'm using here have

[2021-06-14 17:32] fs-eire commented on #292
Yes, the NPM package contains wasm backend implementation. This error looks wired: it looks like have a mismatching version of `ort.min.js` and `ort-wasm.wasm` (this is one of the possible reasons). I didn't run into this error before. could you create a new issue in onnxruntime repository for this error?

[2021-06-17 10:04] neso613 commented on #229
Looking forward for 3D models support.

[2021-06-22 14:23] KlausSchaefersAtWork opened #304 "Active Development"
Hi, I see the latest version is already nearly a year old. Is there still further development?

[2021-06-25 10:05] hyperparameters commented on #165
getting the `TypeError: cannot resolve operator 'Shape' with opsets: ai.onnx v10`
with a mobilenet model from onnx model zoo?

https://github.com/onnx/models/blob/master/vision/classification/mobilenet/model/mobilenetv2-7.onnx

using onnxjs@0.1.8

[2021-07-07 05:26] huavanson commented on #190
did you get it work ?

[2021-07-29 13:18] zhoyifan opened #306 "Is there any function to ouput weight matrix for layers?"
Just like this function in tensorflow.

https://www.tensorflow.org/api_docs/python/tf/keras/layers/Layer#get_weights
https://js.tensorflow.org/api/latest/#tf.layers.Layer.getWeights

[2021-08-03 05:53] kshuraj opened #307 "Error: input 'attention_mask' is missing in 'feeds'."
I would like to know if the Tensor() in onnx.js would support mask token.
I am using the 'bert-base-cased' model to predict the masked text. https://huggingface.co/bert-base-cased

`const onnx = require('onnxjs-node');

async function main() {
    const url = "model_output/bert-base-cased.onnx";

    const session = new onnx.InferenceSession();
    await session.loadModel(url);

    // const input

[2021-08-10 10:55] jimeffry opened #308 "TypeError: cannot resolve operator 'Shape' with opsets: ai.onnx v12"
When I run the onnx model in onnx.js environment, I  get the problem as below.
`opset.ts:48 Uncaught (in promise) TypeError: cannot resolve operator 'Shape' with opsets: ai.onnx v12
    at Object.e.resolveOperator (opset.ts:48)
    at t.resolve (session-handler.ts:60)
    at e.initializeOps (session.ts:235)
    at session.ts:92
    at t.event (instrument.ts:294)
    at e.initialize (session.ts:81)

[2021-08-11 04:17] jimeffry opened #310 "Error: unrecognized input '' for node: Resize_61"
In order to do inference in browser/JavaScript, I used ` torch.onnx.export() ` to get the onnx model. And the details are below.
[code]
However, I could not  load the onnx model  in onnx.js environment. The error is below.
[code]
We look forward to your reply . Thank you!

[2021-08-11 06:41] helloahn commented on #308
How about using the alternatives like,
```https://cdn.jsdelivr.net/npm/onnxjs@0.1.7/dist/onnx.min.js```

[2021-08-11 07:06] jimeffry commented on #308
@helloahn  Thank you very much for your reply ! Another new problem has arisen.(#310 )

[2021-08-18 06:17] samjgorman opened #311 "ResNet50 Example with 94mb resnet50.onnx times out on Chrome with "Page Unresponsive""
Appears that the large size of ResNet50_8.onnx (94mb) triggers a "Page Unresponsive" consistently when replicated locally on Chrome 92.0. What size models can onnxjs reliably serve on Chrome?

Edit: I quit Chrome, restarted and was able to successfully run the ResNet example. This may be a local issue, but will leave this issue open in case others have experienced other performance issues on Chrom

[2021-08-30 15:39] elaith9 commented on #302
Any update on this?

[2021-09-05 11:08] fadiatamny opened #314 "Unauthorized request when loading model from url"
Hi,
i am trying to load the weights file that is on a file server that is secure with credentials.
any request that does not have credentials will be blocked.

as i see from the code the function loadModel in session.ts does not have support for fetchOptions object.

Would it be possible to add a quick fix to allow sending options for the fetch method ?

[2021-09-05 17:14] joey00072 opened #315 "Formator for pre-commit (PR Help)"
I am tring to ass selu operator
[code]

I am getting this error wihile running npm `npm run pre-commit` with I have already used default vscode code formater,
which code formater should I use.

[2021-09-10 19:37] fs-eire commented on #304
Hi @KlausSchaefersAtWork , we are working on migrating ONNX.js to ONNX Runtime Web which offers enhanced user experience and improved performance. Please visit [ONNX Runtime Web](https://github.com/microsoft/onnxruntime/tree/master/js/web) to get more details.

[2021-09-10 19:42] fs-eire commented on #302
This looks like some operators are not supported by ONNX.js WebGL backend. The first error indicates that 'Cast' operator is not implemented, and the second error indicates that one of the "subgraph" operators ( If, Loop, Scan ) is used, which is not supported yet.

we are working on migrating ONNX.js to ONNX Runtime Web which offers enhanced user experience and improved performance. Please visit

[2021-09-10 19:48] fs-eire commented on #306
There is not such API to get weights directly as far as I know. But there are 3 ways to get them:
1. try use [onnx(python package)](https://github.com/onnx/onnx/blob/master/docs/PythonAPIOverview.md)
2. use protobuf library to read from a ONNX model. The protobuf def file is at https://github.com/onnx/onnx/blob/master/onnx/onnx.proto3
3. use https://github.com/lutzroeder/netron to visualize your m

[2021-09-10 19:51] fs-eire commented on #315
Hi @joey00072, you need the clang-format to format your ts code. Instructions are [here](https://github.com/microsoft/onnxjs/blob/master/docs/development.md).

----
Currently we are working on migrating ONNX.js to ONNX Runtime Web which offers enhanced user experience and improved performance. Please visit [ONNX Runtime Web](https://github.com/microsoft/onnxruntime/tree/master/js/web) to get more

[2021-09-10 20:01] fs-eire commented on #311
Thanks for your feedback.

Large models consumes a lot of resources in browsers ( and also GPU resources if webgl backend ), which makes it unstable. For web scenario, usually 10MB~20MB is stable enough in my experience.

-----
we are working on migrating ONNX.js to ONNX Runtime Web which offers enhanced user experience and improved performance. Please visit [ONNX Runtime Web](https://github.com/m

[2021-09-10 20:02] fs-eire commented on #310
Thanks for the feedback.

Currently we are working on migrating ONNX.js to ONNX Runtime Web which offers enhanced user experience and improved performance. Please visit [ONNX Runtime Web](https://github.com/microsoft/onnxruntime/tree/master/js/web) to get more details.

ONNX Runtime Web has a full operator support in 'wasm' backend.

[2021-09-10 20:07] fs-eire commented on #307
Thanks for your feedback!

For running ONNX model inferencing in Node.js, onnxjs-node is replaced by [ONNX Runtime Node.js binding](https://github.com/microsoft/onnxruntime/tree/master/js/node). This uses the up-to-date ONNXRuntime backend (v1.8), while onnxjs-node uses ONNXRuntime v1.4

please check it out to see if it resolves the issue.

[2021-09-10 20:13] fs-eire commented on #301
Thanks for your feedback.

ONNX.js assumes that for a single inference session, the graph is static. ie. the shape of every value node in the graph will not change.

if you have only a few different types of input shapes, you can create separated inference sessions for them; or you can try ONNX Runtime Web, which implements a shader key to resolve this problem. however, if you have a lot of differ

[2021-09-10 20:16] fs-eire commented on #299
Thanks for your contribution! Sorry for the late reply.

we are currently doing a different approach to support CPU kernels in browser. We compiles ONNX Runtime as a whole so that we can have a full CPU kernel coverage. ONNX Runtime Web offers enhanced user experience and improved performance. Please visit [ONNX Runtime Web](https://github.com/microsoft/onnxruntime/tree/master/js/web) to get more

[2021-09-10 20:18] fs-eire commented on #295
Thanks for your feedback!

we are working on migrating ONNX.js to ONNX Runtime Web which offers enhanced user experience and improved performance. Please visit [ONNX Runtime Web](https://github.com/microsoft/onnxruntime/tree/master/js/web) to get more details. ONNX Runtime Web offers a full coverage of kernel implementations on 'wasm' backend.

[2021-09-13 04:28] #311 closed

[2021-09-15 17:24] mlizhardy commented on #264
I would also like support for convT

[2021-09-23 08:17] seminelee commented on #179
+1

[2021-09-23 21:36] #315 closed

[2021-10-06 14:53] sgltkn opened #316 "TypeError: cannot resolve operator 'ReduceL2' with opsets: ai.onnx v10"
I am getting `ReduceL2` operator error while creating InferenceSession with WebGL provider.

[code]

![image](https://user-images.githubusercontent.com/7747280/136228180-4502acd7-3506-4876-ad65-7bb4c284c40a.png)

Onnx version is 1.9.0
OS: Pop OS 21.04 (Nvidia)

We look forward to your reply . Thank you!

[2021-10-19 11:52] sambitraze opened #318 "TypeError: cannot resolve operator 'Shape' with opsets: ai.onnx v11"
I trained a custom YOLO V4 tiny model in darknet format (got .cfg and .weights file respectively). I converted this model into onnx format using python demo_darknet2onnx.py yolov4-csp.cfg yolov4-csp.weights people.jpg 0 from repository https://github.com/Tianxiaomo/pytorch-YOLOv4

This onnx model was working fine on onnx runtime but on running it in js it is giving following error.

opset.ts:48 Un

[2021-10-19 20:37] hanbitmyths commented on #318
Thanks for the feedback. We have migrated ONNX.js to [ONNX Runtime Web](https://github.com/microsoft/onnxruntime/tree/master/js/web), which provides a full operator support in 'wasm' backend.

[2021-10-20 12:33] #318 closed

[2021-10-20 12:33] sambitraze commented on #318
thanks

[2021-11-04 15:03] nicolalandro commented on #202
I have the same problem on 0.1.8 version, is it latest?

[2021-11-09 03:30] jkassis commented on #168
This works if you use the "wasm" backend and bring onnx into the browser using <script> tags. I did not have any luck with esbuild bundler. And the docs clearly state (once I read them), that the 'webgl' backend supports only a subset of operators.

[2021-11-12 10:11] nicolalandro opened #319 "Add operator on the fly with js script"
It is possible to add missing operator into my code by scripting it with js?